include components/avatar.pug
include components/buttons.pug
include components/links.pug
include components/labels.pug
include components/topbar.pug
include components/sidebar-menu.pug
include components/badge.pug
include components/boxes.pug
include components/checkbox.pug
include components/banners.pug
include components/blocks.pug
include components/footer.pug
include components/progress-bar.pug
include components/cards.pug
include components/chart.pug
include components/chart.pug
include components/modal.pug
include components/new-menu.pug
include components/alert-message.pug
include components/new-footer.pug
include components/score-pill.pug
include components/radio-button.pug
include components/filter-search.pug
include components/carousel.pug
include components/video-thumbnail.pug
include components/pagination.pug
include components/speaker-list.pug

doctype html
html
	head
		title One Campus Portal
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
		link(rel='shortcut icon' href='images/logo-onecampus-white.svg' type="image/x-icon")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel='stylesheet', href='css/theme-oc.css')
		link(rel='stylesheet', href="https://www.glyphicons.com/")