mixin alert-message()
	.alert-msg&attributes(attributes)
		.alert-msg__container
			img(src="./images/sad.svg", alt="").alert-msg__media
			.alert-msg__descrip 
				span Sorry!
				p You don't have any avalable test.