mixin banner--basic(options)
	.banner--basic&attributes(attributes)
		.banner__content
			.banner__text
				h4 Laureate Professional Assesment Testing
				p.label__description Employers look for candidates who approach a situation by quickly assessing and efficiently applying their knowledge to influence it.
			.banner__actions
				+button({'buttonTitle': 'Learn about the LPA'}).button--ghost-primary

mixin banner()
	.banner
		.banner__content
			.banner__label
				svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
					use(xlink:href='images/icons/oc-icons.svg#oc-Ability')
				span.label__text Abilities
			.banner__text
				h1 Analyzing & Solving Problems
				span Employers look for candidates who approach a situation by quickly assessing and efficiently applying their knowledge to influence it.
			.banner__actions
		.banner__image(style={'background-image': 'url("images/ability-analyzing-hero.svg")'})


mixin banner--about01()
	.banner.banner--lite
		.banner__content
			.banner__text
				h1 Turn Learning into Employability
				span This is your place for becoming a smarter, more connected professional.
			.banner__actions
				+button({'buttonTitle': 'Learn More'}).button--primary
		.banner__image(style={'background-image': 'url("images/Employability.svg")'})


mixin banner--about02()
	.banner.banner--lite.banner--image-left
		.banner__content
			.banner__text
				h1 Understand Your Strengths
				span OneCampus helps you identify professional areas you can improve on based on the abilities that employers value most. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.
			.banner__actions
				+button({'buttonTitle': 'Learn More'}).button--primary
				span or
				+button({'buttonTitle': 'Learn More'}).button--primary.button--ghost
		.banner__image(style={'background-image': 'url("images/strengths.svg")'})


mixin banner--about03()
	.banner.banner--lite
		.banner__content
			.banner__text
				h1 Learn from the Best
				span OneCampus teaches you about abilities with concise videos created by some of the world’s top business minds and educators.
			.banner__actions
				span List goes here
		.banner__image(style={'background-image': 'url("images/teaching.svg")'})


mixin banner--about04()
	.banner.banner--lite.banner--image-left
		.banner__content
			.banner__text
				h1 Passport Let’s You Connect with Others and Track Your Achievements
				span Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, ege stas eget quam. Etiam porta sem malesuada ma gna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
			.banner__actions
				a.link Go to passport
		.banner__image(style={'background-image': 'url("images/achievements.svg")'})


mixin banner--about05()
	.banner.banner--lite
		.banner__content
			.banner__text
				h1 Learn within a global community of peers, faculty and business professionals
				span On OneCampus, you are learning alongside your peers. Join a community of learners around the globe who are working on improving their professional abilities. Share experiences, learn in new contexts, and strengthen your global mindset as you prepare for the global job market.

		.banner__image(style={'background-image': 'url("images/global-community.svg")'})

mixin banner--ability()
	.banner
		.banner__content
			.banner__label
				svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
					use(xlink:href='')
			.banner__text
				h1 Professional Abilities you need to succeed
				span You go to school to learn technical skills like finance, journalist or engineering In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Maecenas malesuada.
			.banner__actions
		.banner__image(style={'background-image': 'url("./images/1.png")'})

