mixin block--search-no-results()
	.block.block--search-no-results
		img.search-no-result__image(src="./images/search--no-results.png")
		.search-no-result__title No result search
		.search-no-result__description Lorem ipsum it delir ibsolurem masti ubicarus ed ste definavilus derfiur

mixin block--search-no-results--connection()
	.block.block--search-no-results
		img.search-no-result__image(src="./images/search--no-results--connection.png")
		.search-no-result__title Connection not found
		.search-no-result__description Lorem ipsum it delir ibsolurem masti ubicarus ed ste definavilus derfiur