mixin button(options)
	- options = options || {};
	- var buttonTitle = options.buttonTitle || "button";
	- var hideTitle = options.hideTitle || false;
	- var showIcon = options.showIcon || false;
	- var iconName = options.iconName || '';
	- var iconUrl = 'images/icons/oc-icons.svg#oc-'+iconName;

	button.button&attributes(attributes)
		unless hideTitle
			span.button__title #{buttonTitle}
		if showIcon
			svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
				use(xlink:href=iconUrl)

mixin button-pill()
	button.button-pill&attributes(attributes)
		.button-container
			img.icon-pill(src="./images/SVG/chat.svg", alt="chat")
			.text-pill Chat