mixin card(options)
  .card&attributes(attributes)
    img.media--top(src="./images/Fill@3x.png", alt="video image") 
    .card__body
      h5.card__title Design Thinking: The New Standard for Creative Probl…
      p.card__text Some quick example text to build on the card title and make up the bulk of the content.

  .card-video
    img.card__img(src="", alt="")
    .card-img-overlay
      p.card-video__section-title How are you doing at Analyzing & Solving Problems?
      h5.card-video__title Answer a few short questions and get an idea of your current ability level so you know where you can improve.
      img.card-video__badge(src="", alt="")
      +button
   