mixin card(options)
  .card&attributes(attributes)
    img.media--top(src="./images/Fill@3x.png", alt="video image") 
    .card__body
      h5.card__title Design Thinking: The New Standard for Creative Probl…
      p.card__text Some quick example text to build on the card title and make up the bulk of the content.

mixin card--video(options)
  .card-video&attributes(attributes)
    img.card-video__img(src="./images/Fill.png", alt="")
    .card-img-overlay
      p.card-video__section-title LeARNING SERIES
      h5.card-video__title Analyzing and Solving Problems: Instinct vs. Evidence
  .box-badge
    img.card-video__triangle(src="./images/Rectangle.png", alt="Tringle-badge")
    img.card-video__badge(src="./images/Badge.png", alt="Badge")

mixin card--featured(options)
  .card-featured&attributes(attributes)
    .card-featured__body
      img.card-featured__img(src="./images/Card Image.svg", alt="")
      .card-featured__content
        h4.card-featured__title How are you doing at Analyzing & Solving Problems?
        p.card-featured__text Answer a few short questions and get an idea of your current
                        ability level so you know where you can improve.
mixin card--panel(options)
  .card-panel&attributes(attributes)
    .card-panel__body
      .card-panel__content
        img.card-panel__img(src="./images/Image/Circle/Fill.png", alt="")
        .card-panel__descrip
          h4.card-panel__title LPA: Resolución de problemas, cumplimiento de objetivos y trabajo en equipo
          p.card-panel__help-text Duration 45 min
          p.card-panel__text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimen tum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit am et, consectetur adipiscing 
          .card-panel__label.row
            .col
              +label({'labelTitle': 'Analyzing & Solving Problems'})
            .col
              +label({'labelTitle': 'Making decisions'})
            .col
              +label({'labelTitle': 'Analyzing & Solving Problems'})
            .col
              +label({'labelTitle': 'Making decisions'})
        .card-panel__action  
          +button({'buttonTitle': 'Enroll'}).button--primary

mixin card--panel-score(options)
  .card-panel--score&attributes(attributes)
    .card-panel__body
      .card-panel__content
        .col-md-4.col-12.col-xs-12
          //- 
          +score-pill
        .col-md-6.col-12.col-xs-12
          .card-panel__descrip
            p.card-panel__title Learning & Self-Improvement
            +link
            p.card-panel__text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimen tum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit am et, consectetur adipiscing
            ul.list-lite
              li.list-lite__item
                .list-lite__icon
                p.list-lite__text Curabitur blandit mollis lacus. Proin faucibus arcu quis ante.
              li.list-lite__item
                img.list-lite__icon(src="", alt="")
                p.list-lite__text Curabitur blandit mollis lacus. Proin faucibus arcu quis ante.
              li.list-lite__item
                img.list-lite__icon(src="", alt="")
                p.list-lite__text Curabitur blandit mollis lacus. Proin faucibus arcu quis ante.  
        .col-md-2.col-12
          .card-panel__action  
            +button({'buttonTitle': 'Try Again'}).button--ghost-primary

mixin card--panel-start(options)
  .card-panel--start&attributes(attributes)
    .card-panel__body
      .card-panel__content
        img.card-panel__img.rounded-circle(src="./images/Image/Circle/Fill.png", alt="")
        .card-panel__descrip
          h4.card-panel__title LPA: Resolución de problemas, cumplimiento de objetivos y trabajo en equipo
          .text-group
            p.card-panel__help-text Duration 45 min
            .pipe-separator
            p.card_panel__end-text Due by March 23, 2020
          p.card-panel__text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimen tum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit am et, consectetur adipiscing 
          .card-panel__labels
            .col-12.col-sm-12.col-lg-4.col-md-6
              +label({'labelTitle': 'Analyzing & Solving Problems'})
            .col-12.col-sm-12.col-lg-4.col-md-6
              +label({'labelTitle': 'Making decisions'})
        .card-panel__action  
          +button({'buttonTitle': 'Start Test'}).button--secondary

mixin card--panel-complete(options)
  .card-panel-complete&attributes(attributes)
    .card-panel__body
      .card-panel__content
        img.card-panel__img(src="./images/Image/Circle/Fill.png", alt="")
        .card-panel__descrip
          h4.card-panel__title LPA: Resolución de problemas, cumplimiento de objetivos y trabajo en equipo
          p.card_panel__end-text Completed on March 23,2020
          p.card-panel__text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimen tum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit am et, consectetur adipiscing 
          .card-panel__labels
            +label({'labelTitle': 'Analyzing & Solving Problems'})
            +label({'labelTitle': 'Making decisions'})
  .card-chart.mb-5
    .card-chart__body
      .card-chart__content
        p My Score
        .row
          .col
            +chart
          .col
            +chart
          .col
            +chart

mixin card--small(options)
  a.card-small.mt-2.mb-1(href="#")
    .card-small__body
      .card-small__group
        img.card-small__img(src="./images/user--profile.png", alt="")
        p.card-small__text Analizyng & Solving Problems

mixin card--small-bg(options)
  a.card-small-bg.mt-2.mb-1(href="#")
    .card-small__body
      p.card-small__title Analizyng & Solving Problems
      
