mixin chart(options)
	.chart&attributes(attributes)
		.chart-img
			svg.circle-chart(xmlns='http://www.w3.org/2000/svg', style='width:70px', viewBox='0 0 33.83098862 33.83098862')
				circle.circle-chart__background(cx='16.915', cy='16.915', r='15.915', fill='none', stroke='#efefef', stroke-width='2')
				circle.circle-chart__circle(cx='16.915', cy='16.915', r='15.915', fill='none', stroke='#37b896', stroke-dasharray='30,100', stroke-linecap='round', stroke-width='2')
				g.circle-chart__info(text-anchor='middle')
					text.circle-chart__percent(x='16.91549431', y='15.5', alignment-baseline='central', font-size='8') 7
					text.circle-chart__subline(x='16.91549431', y='20.5', alignment-baseline='central', font-size='2')
		.chart-title Analizing & Solving Problems