mixin checkbox()
	.checkbox&attributes(attributes)
		ul.checkbox-list
			li.checkbox__list-item
				button.checkbox__button(aria-pressed="true")
					span.checkbox__text ENG
			li.checkbox__list-item
				button.checkbox__button
					span.checkbox__text ESP
			li.checkbox__list-item
				button.checkbox__button
					span.checkbox__text POR

mixin checkbox--lang()
	.checkbox-container--with-icon-left&attributes(attributes)
		.checkbox-container__icon
			svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
				use(xlink:href='images/icons/oc-icons.svg#oc-logo')
		+checkbox()

mixin checkbox--default()
	.checkbox-default
		.custom-control.custom-checkbox&attributes(attributes)
			input.custom-control-input#customCheck(type="checkbox",name="example1")
			label.custom-control-label(for="customCheck") Label goes here