mixin filter-search()
	.filter-search&attributes(attributes)
		p.filter-title Types
		ul.filter-list
			li.filter-list__item
				+checkbox--default 
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
		p.filter-title Topics
		ul.filter-list
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
		p.filter-title Professional Abilities
		ul.filter-list
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
			li.filter-list__item
				+checkbox--default
		p.filter-title Collections
		ul.filter-list
			li.filter-list__item
				+radio-button
			li.filter-list__item
				+radio-button
			li.filter-list__item
				+radio-button
			li.filter-list__item
				+radio-button