mixin new-footer-lms()
	footer
		.footer-lms
			.footer-container--lms
				.footer-content--lms.row
					.footer-brand.col-12.col-sm-6.col-md-12.col-lg-3
						a.footer-link(href="#")
							img.footer-icon(src="./images/LMS/lms-logo.svg", alt="")
					.footer-nav--lms.col-12.col-sm-6.col-md-4.col-lg-3
						ul.navbar-nav
							li.nav-item.active
								p.text-subitem Contact
							li.nav-item
								a.nav-link(href='#') Keep in Touch
							li.nav-item
								a.nav-link(href='#') About
							li.nav-item
								a.nav-link(href='#') Support
					.footer-nav--lms.col-12.col-sm-6.col-md-4.col-lg-3
						ul.navbar-nav
							li.nav-item.active
								p.text-subitem Terms
							li.nav-item
								a.nav-link(href='#') Privacy Policy and cookie policy
							li.nav-item
								a.nav-link(href='#') Featured courses
							
					.footer-leng--lms.col-12.col-sm-6.col-md-4.col-lg-3
						p.text-subitem Select your language
						ul.navbar-nav
							li.nav-item.dropdown
								a#dropdown-flag.navbar-link.navbar-link--dark.dropdown-toggle
									img.avatar-flag(src="./images/united-states-of-america.svg", alt="profile")
								.dropdown-menu.dropdown-menu__left.show(aria-labelledby='dropdown-flag')
									a.dropdown-item(href='#',)
										.dropdown-item__content
											img.icon-item(src="./images/spain.svg", alt="icon")
											p.text-item Spanish
									a.dropdown-item(href='#')
										.dropdown-item__content
											img.icon-item(src="./images/brazilian-flag.svg", alt="icon")
											p.text-item Portuguesse
						
						
				.footer-credits--lms.col-12.pr-0.pl-0
					p.text-credits--lms © 2019 Laureate Education Inc. All rights reserved.
						




	script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
	script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
	script(src='js/ux.js')