mixin lms-navbar(options)
  nav.lms-nav&attributes(attributes)
    .navbar
      .nav-actions
        button
          img(src="", alt="")
        .nav-title
          h6 Title goes here
      .nav-controls
        