mixin lms-navbar(options)
  nav.lms-nav.navbar&attributes(attributes)
    .nav-actions.col-8.col-sm-8.col-md-4.col-lg-4.col-xl-4
      button.btn(type='button', data-toggle='modal', data-target='#myModal')
        img(src="./images/Icon/List - Unordered.svg", alt="")
      .nav-title
        h6 Adaptability: How to Thrive in Times of Change" in: Jobs In Data Science
    .nav-controls.col-md-4.col-lg-4.col-xl-4
      a.mr-3(href="#")
        img(src="./images/Icon/Arrow - Ctrl Right Copy.svg", alt="")
      p 2 of 6
      a.ml-3(href="#")
        img(src="./images/Icon/Arrow - Ctrl Right.svg", alt="")
    .nav-exit.col-2.col-sm-2.col-md-4.col-lg-4.col-xl-4
        button.button.button--ghost-white-small Exit Series
        button.btn.button--mobile x
    #myModal.modal
      .modal-dialog.modal-left.modal-full--height
        .modal-content
          .modal-header
            h6 Data Science
            button.close(type='button', data-dismiss='modal')
              span x
          #collapseOne.modal-body.collapse.show(aria-labelledby='headingOne', data-parent='#accordion')
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/Default.svg", alt="check icon")
              .media-episode.card.bg-episode
              .text-episode
                h6.title-episode Introduction
               
            a.item-episode.item-episode--selected(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/Default.svg", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Different is better
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quiz
               
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Article
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quote
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quote
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quote

mixin lms-navbar--with-collapse(options)
  nav.lms-nav.navbar&attributes(attributes)
    .nav-actions.col-8.col-sm-8.col-md-4.col-lg-4.col-xl-4
      button.btn(type='button', data-toggle='modal', data-target='#myModal')
        img(src="./images/Icon/List - Unordered.svg", alt="")
      .nav-title
        h6 Adaptability: How to Thrive in Times of Change" in: Jobs In Data Science
    .nav-controls.col-md-4.col-lg-4.col-xl-4
      a.mr-3(href="#")
        img(src="./images/Icon/Arrow - Ctrl Right Copy.svg", alt="")
      p 2 of 6
      a.ml-3(href="#")
        img(src="./images/Icon/Arrow - Ctrl Right.svg", alt="")
    .nav-exit.col-2.col-sm-2.col-md-4.col-lg-4.col-xl-4
        button.button.button--ghost-white-small Exit Series
        button.btn.button--mobile x
    #myModal.modal
      .modal-dialog.modal-left.modal-full--height
        .modal-content
          .modal-header
            h6 Data Science
            button.close(type='button', data-dismiss='modal')
              span x
        
          #accordion.modal-body
            a.item-episode(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              img.check-icon(src="./images/Toggle/Checkmark/Default.svg", alt="check icon")
              .text-episode--collapse
                h6.title-episode Introduction
                img(src="./images/Icon/Arrow - Down.png", alt="")
              #collapseExample.collapse
                a.item-episode.item-episode--collapse(href="#")
                  img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
                  .media-episode-collapse.card.bg-episode 
                  .text-episode
                    h6.title-episode.mt-3 Introduction 1.1
                a.item-episode.item-episode--collapse(href="#")
                  img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
                  .media-episode-collapse.card.bg-episode 
                  .text-episode
                    h6.title-episode.mt-3 Introduction 1.2
                
            a.item-episode.item-episode--selected(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
              img.check-icon(src="./images/Toggle/Checkmark/Default.svg", alt="check icon") 
              .text-episode--collapse
                h6.title-episode Different is better
                img(src="./images/Icon/Arrow - Down.png", alt="")
              #collapseExample2.collapse
                a.item-episode.item-episode--collapse(href="#")
                  img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
                  .media-episode-collapse.card.bg-episode 
                  .text-episode
                    h6.title-episode.mt-3 Different is better 2.1
                a.item-episode.item-episode--collapse(href="#")
                  img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
                  .media-episode-collapse.card.bg-episode 
                  .text-episode
                    h6.title-episode.mt-3 Different is better 2.2
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quiz
              
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Article
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quote
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quote
                
            a.item-episode(href="#")
              img.check-icon(src="./images/Toggle/Checkmark/no-check.png", alt="check icon")
              .media-episode.card.bg-episode 
              .text-episode
                h6.title-episode Quote
                
          
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
