mixin nav-landing--lms()
	nav.nav-landing.navbar.navbar-expand-lg.rounded
			ul.navbar-nav
				li.nav-item
					a.nav-link.selected(href='#') Jobs of the Future
				li.nav-item
					a.nav-link(href='#') How ready are you?
			.menu-container
				#accordion.menu-btn
					#headingOnebutton.btn(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
						img(src="./images/menu-2.svg", alt="menu")
				#collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordion')
						ul.navbar-nav-mobile
							li.nav-item
								a.nav-link(href='#') Jobs of the Future mkdjksa jhdkjas
							li.nav-item
								a.nav-link(href='#') How ready are you?
					
