mixin nav-landing--lms()
	nav.nav-landing.navbar.navbar-expand-lg.rounded
			ul.navbar-nav
				li.nav-item
					a.nav-link.selected(href='#') Jobs of the Future
				li.nav-item
					a.nav-link(href='#') How ready are you?
				