mixin menu-lms()
	nav.navbar.navbar-expand-lg.navbar-light.rounded&attributes(attributes)
		a(href="#").navbar-brand
			img(src="./images/LMS/logo-white-lms.svg", alt="OneCampus logo")

		.navbar-mobile
			//- Collapse button
			button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggleExternalContent", aria-controls="navbarToggleExternalContent", aria-expanded="true", aria-label="Toggle navigation")
				img(src="./images/Icon/360.svg", alt="menu")
			a(href="#").navbar-brand-mobile
				img(src="./images/LMS/logo-white-lms.svg", alt="OneCampus logo")
			
			//- #navbarToggleExternalContent.menu-mobile.navbar-collapse.collapse.animated.slideInLeft
			//- 	h3.close-header X
			//- 	hr
			//- 	#accordionExample.accordion
			//- 		.mobile-item
			//- 			#headingOne.mobile-link
			//- 				h2.mb-0
			//- 					button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Home
			//- 		.mobile-item
			//- 			#headingTwo.mobile-link
			//- 				h2.mb-0
			//- 					button.btn.btn-link(type='button' data-toggle='collapse' data-target='#Abilities' aria-expanded='true' aria-controls='Abilities') Collections
			//- 					img.icon-collapse(src="./images/Icon/Arrow - Down.png", alt="collapse-icon")
			ul.navbar-nav
				li.nav-item.dropdown
					a#dropdown-flag.navbar-link.dropdown-toggle
						img.avatar-flag(src="./images/united-states-of-america.svg", alt="profile")
					.dropdown-menu.dropdown-menu__left.show(aria-labelledby='dropdown-flag')
						a.dropdown-item(href='#',)
							.dropdown-item__content
								img.icon-item(src="./images/spain.svg", alt="icon")
								p.text-item Spanish
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/brazilian-flag.svg", alt="icon")
								p.text-item Portuguesse
				li.nav-item.dropdown
					.dot-notifi
						span.badge.badge-pill.dot-notification 12
					a#notification.navbar-link.dropdown-toggle-split(href='#')
					img(src='./images/Icon/Bell.png' alt='Notification')
				li.nav-item.dropdown
					a#dropdown07.navbar-link.dropdown-toggle
						img.avatar-prof.rounded-circle(src="./images/Avatar/Image.png", alt="profile")
					.dropdown-menu.show(aria-labelledby='dropdown07')
						a.dropdown-item(href='#',)
							.dropdown-item__content
								img.icon-item(src="./images/Icon/User.png", alt="icon")
								p.text-item My Passport
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/Icon/Settings.png", alt="icon")
								p.text-item Settings
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/Icon/Support.png", alt="icon")
								p.text-item Help & Support
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/Icon/Logout.png", alt="icon")
								p.text-item Log Out


		#navbarsExample10.collapse.navbar-collapse
			ul.navbar-nav.mr-auto 
				li.nav-item
					a(href="#").navbar-link Home
				li.nav-item
					a(href="#").navbar-link Collections
					
			ul.navbar-nav
				li.nav-item.dropdown
					a#dropdown-flag.navbar-link.dropdown-toggle
						img.avatar-flag(src="./images/united-states-of-america.svg", alt="profile")
					.dropdown-menu.dropdown-menu__left.show(aria-labelledby='dropdown-flag')
						a.dropdown-item(href='#',)
							.dropdown-item__content
								img.icon-item(src="./images/spain.svg", alt="icon")
								p.text-item Spanish
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/brazilian-flag.svg", alt="icon")
								p.text-item Portuguesse
						
				li.nav-item.dropdown
					.dot-notifi
						span.badge.badge-pill.dot-notification 12
					//- a#notification.navbar-link.dropdown-toggle-split(href='#')
					//- img(src="./images/Icon/Bell.png", alt="Notification")
					//- .notification-menu.animated.slideInRight.show-menu(aria-labelledby='notification')
					//- 	.notification-header
					//- 		p.notification-menu__title Notifications
					//- 		span.close-menu x
					//- 	hr
					//- 	p.notification-date Today
					//- 	.notification-body
					//- 		.link-item
					//- 			img.notif-icon(src="./images/Logo.png" alt="OneCampus logo")
					//- 			a.notification-link(href="#")
					//- 				p.notification-link__title OneCampus news
					//- 				p.notification-link__description Curabitur a felis in nunc fringilla tristique. Nunc nec neque.
					//- 		.link-item
					//- 			img.notif-icon(src="./images/wobi-2-logo.png" alt="Wobi logo")
					//- 			a.notification-link(href="#")
					//- 				p.notification-link__title Wobi news
					//- 				p.notification-link__description Curabitur a felis in nunc fringilla tristique. Nunc nec neque.
					//- 		.link-item
					//- 			img.notif-icon(src="./images/Icon/Announcement.svg" alt="OneCampus logo")
					//- 			a.notification-link(href="#")
					//- 				p.notification-link__title News or announcement 
					//- 				p.notification-link__description Curabitur a felis in nunc fringilla tristique. Nunc nec neque.
					//- 		.link-item
					//- 			img.notif-icon(src="./images/checkmark-enroll.svg" alt="Checkmark logo")
					//- 			a.notification-link(href="#") 
					//- 				p.notification-link__title Success message
					//- 				p.notification-link__description Curabitur a felis in nunc fringilla tristique. Nunc nec neque.
									
					//- 		.link-item
					//- 			img.notif-icon(src="./images/Certificate1.svg" alt="achievements logo")
					//- 			a.notification-link(href="#")
					//- 				p.notification-link__title Achievement Certificate
					//- 				p.notification-link__description Curabitur a felis in nunc fringilla tristique. Nunc nec neque.
					//- 		.link-item
					//- 			img.notif-icon(src="./images/warning-error.svg" alt="achievements logo")
					//- 			a.notification-link(href="#")
					//- 				p.notification-link__title Error announcement
					//- 				p.notification-link__description Curabitur a felis in nunc fringilla tristique. Nunc nec neque.

				li.nav-item.dropdown
					a#dropdown07.navbar-link.dropdown-toggle
						img.avatar-prof.rounded-circle(src="./images/Avatar/Image.png", alt="profile")
					.dropdown-menu.show(aria-labelledby='dropdown07')
						a.dropdown-item(href='#',)
							.dropdown-item__content
								img.icon-item(src="./images/Icon/User.png", alt="icon")
								p.text-item My Passport
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/Icon/Settings.png", alt="icon")
								p.text-item Settings
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/Icon/Support.png", alt="icon")
								p.text-item Help & Support
						a.dropdown-item(href='#')
							.dropdown-item__content
								img.icon-item(src="./images/Icon/Logout.png", alt="icon")
								p.text-item Log Out
				
