mixin modal-basic()
	.modal-container&attributes(attributes)
		+link(href="#open-modal") My modal
	#open-modal.modal-window
		.modal-box
			.modal-header__basic
					a.modal-close__basic(href="#",title="close") X
			.modal-body
				.modal-content__basic()
					p Nullam dictum felis eu pede mollis pretium. Quisque id odio. Aenean imperdiet. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam.
				.modal-actions
					+button({'buttonTitle': 'Secondary action'}).button--ghost-primary.mr-1
					+button({'buttonTitle': 'Primary action'}).button--primary

mixin modal--IE()
	.modal-container__ie&attributes(attributes)
		+link(href="#open-modal-ie") My modal
	#open-modal-ie.modal-window__ie
		.modal-box__ie
			.modal-header
					a.modal-close(href="#",title="close") X
			.modal-body
				.modal-content__ie
					img.header-img(src="./images/pc.svg", alt="pc")
					.modal-description
						img.label-title(src="./images/SVG/sorry.svg", alt="")
						h5.subheadline-modal Your browser is not supported
						p.description-modal 
							|If you want to have a better experience in 
							strong One Campus 
							|these are the browsers we recommend:
						.header-media
							img.header-media__item(src="./images/1x/chrome.png", alt="Chrome")
							img.header-media__item(src="./images/1x/firefox.png", alt="FireFox")
							img.header-media__item(src="./images/1x/edge.png", alt="Edge")
							img.header-media__item(src="./images/1x/safari.png", alt="Safari")
						p.cr-text © 2020 Laureate Education Inc. 
mixin modal--crop()
	.modal-container__crop&attributes(attributes)
		+link(href="#open-modalCrop") My modal
	#open-modalCrop.modal-window__crop
		.modal-box__crop
			.modal-header
				.container-img-info
					h6.instruction-text Select Photo
					p.img-info new-photo.jpg
				a.modal-close(href="#",title="close") X
			.modal-body
				.container-crop-img
					img.img-fluid(src="./images/bg-intro.jpg", alt="crop-image")
				
			.modal-footer
				+button({'buttonTitle': 'Cancel'}).button--ghost-primary.mr-1
				+button({'buttonTitle': 'Save'}).button--primary

mixin modal--primary()
	.modal.modal--primary(tabindex="-1" role="dialog").modal--is-open
		.modal-dialog(role="document")
			.modal-content.modal--scrollable
				.modal-header
					h5.modal-title Hello, Sheyna! Welcome to OneCampus.
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;

				.modal-body
					ul.list.list--with-image-round
						li.list-item
							.list-item__content
								.list-image(style={'background-image': 'url("images/lists/listImage01.png")'} alt="list image")
								.list-text
									.list-title Understand Your Strengths
									.list-subtitle OneCampus helps you identify professional areas you can improve on based on the abilities that employers value most.
						li.list-item
							.list-item__content
								.list-image(style={'background-image': 'url("images/lists/listImage02.png")'} alt="list image")
								.list-text
									.list-title Understand Your Strengths
									.list-subtitle OneCampus helps you identify professional areas you can improve on based on the abilities that employers value most.
						li.list-item
							.list-item__content
								.list-image(style={'background-image': 'url("images/lists/listImage03.png")'} alt="list image")
								.list-text
									.list-title Understand Your Strengths
									.list-subtitle OneCampus helps you identify professional areas you can improve on based on the abilities that employers value most.

				.modal-footer
					+box(
							{'boxTitle': 'Ready to get started?', 
								'hideSubtitle': true, 
								'boxSubtitle': 'Learning Series', 
								'showIcon': false,
								'showDescription': true, 
								'boxDescription': 'Click to begin and Donec id elit non mi porta gravida at eget metus.',
								'showAction': true, 
								'boxAction': 'Get Started'
							}).box--centered-content.box--condensed

mixin modal--alerts()
	+link('Modal warning')(type='button', data-toggle='modal', data-target='#modalWarning')
		
	#modalWarning.modal.modal-alert.modal-alert__warning.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					span 
						img.icon-alert(src="./images/Icon/Alert.svg", alt="")
					p#exampleModalLabel.modal-title.text-center There are 1+ alerts, dismiss this one and see what's next
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					p.date-modal Aired on July 31, 2020. 6:00 p.m. to August 31, 2020, 6:00 p.m.
					h6 Blackboard System Maintenance
					P.text-modal Please note that Blackboard maintenance will be done on July 31, 2020 at 6:00 pm (CLST) through August 31 at 6:00 pm. During this time, students who participate in courses will not have access to their Blackboard platforms.
				.modal-footer
					+button({'buttonTitle': 'Dismiss this alert'})(type='button', data-dismiss='modal').button--ghost-secondary.mx-auto
mixin modal--support()
	.modal-container--support
		button.support-btn.btn.float-right(type='button', data-toggle='modal', data-target='#modalSupport')
			img(src="./images/SVG/help-sup.svg", alt="Support image")
			
		#modalSupport.modal.modal-alert.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog.modal-dialog--bottom(role='document')
				.modal-content
					.modal-header
						p#exampleModalLabel.modal-title.text-center Help Service
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						h6.text-title How can I help you?
						P.text-modal Please select one of the following options:
						button.button-pill(type='button', data-toggle='modal', data-target='#modalChat')
							.button-container
								img.icon-pill(src="./images/SVG/chat.svg", alt="chat")
								.text-pill Chat
						#modalChat.modal.modal-alert.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
							.modal-dialog.modal-dialog--bottom(role='document')
								.modal-content
									.modal-header
										p#exampleModalLabel.modal-title.text-center Chat | Support | Soporte | Suporte
										button.close(type='button', data-dismiss='modal', aria-label='Close')
											span(aria-hidden='true') ×
									.modal-body.modal-body--chat
										P.text-modal Sorry, we aren't online at the moment. Leave a message and we'll get back to you.
										.profile-form
											.form-group.mt-2
												label(for="field1") Name
												input.form-control(type="text" id="field1" placeholder="Enter field name")
												small.form-text.text-muted Helper Text

											.form-group.mt-2
												label(for="field2") Email
												input.form-control(type="text" id="field2" placeholder="Enter field email")
												small.form-text.text-success Helper Text
											.form-group.mt-2
												label(for="field1") Message
												textarea.form-control
												small.form-text.text-muted Helper Text
									.modal-footer.modal-footer--chat
										+button({'buttonTitle': 'Send Message'})(type='button', data-dismiss='modal').button--primary.mx-auto

						button.button-pill
							.button-container
								img.icon-pill(src="./images/SVG/service.svg", alt="chat")
								.text-pill Self Service
						button.button-pill
							.button-container
								img.icon-pill(src="./images/SVG/mail.svg", alt="chat")
								.text-pill Send Email
	
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')