mixin new-footer()
	footer
		.footer
			.footer-container
				.footer-content.row
					.footer-brand.col-12.col-md-12.col-lg-4
						a.footer-link(href="#")
							img.footer-icon(src="https://onecampus.laureate.net/assets/images/global/logo-onecampus-header.png", alt="")
						a.footer-link(href="#")
							img.footer-icon(src="https://onecampus.laureate.net/assets/images/homepage/laureate-footer-logo.svg", alt="")
					.footer-nav.col-12.col-md-6.col-lg-4
						ul.navbar-nav
							li.nav-item.active
								a.nav-link(href='#') About
							li.nav-item
								a.nav-link(href='#') News
							li.nav-item
								a.nav-link(href='#') Help & Support
							li.nav-item
								a.nav-link(href='#') Terms & Conditions
					.footer-leng.col-12.col-md-6.col-lg-4
						.dropdown.show
							a#dropdownMenuLink.btn.btn-dropdown__light.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') English
							.dropdown-menu.show(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#') Spanish
								a.dropdown-item(href='#') Portuguesse
				.footer-credits.col-12
					p.text-credits © 2019 Laureate Education Inc. All rights reserved.
						




	script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
	script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
	script(src='js/ux.js')