mixin radio-button()
		.radio-button--default&attributes(attributes)
			.custom-control.custom-radio
				input.custom-control-input#customRadio(type="radio",name="example1",value="customEX")
				label(for="customRadio").custom-control-label Label goes here