mixin score-pill()
	.score-pill
		.pill-content
			img.media-pill(src="./images/score-beginner.png", alt="")
			.pill-text
				.pill-title My Score
				.pill-label Beginner


mixin score-pill--large-text()
	.score-pill.score-pill--large-text
		.pill-content
			img.media-pill(src="./images/score-beginner.png", alt="")
			.pill-text
				.pill-title My Score
				.pill-label Beginner
