mixin speaker-list()
	.speaker-list&attributes(attributes)
		.speaker-prof__item
			img.speaker-img(src="./images/user-2--profile.jpg", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
		.speaker-prof__item
			img.speaker-img(src="./images/user--profile.png", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
		.speaker-prof__item
			img.speaker-img(src="./images/Avatar/avatar-user-01.png", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
		.speaker-prof__item
			img.speaker-img(src="./images/user--profile.png", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
		.speaker-prof__item
			img.speaker-img(src="./images/user--profile.png", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
		.speaker-prof__item
			img.speaker-img(src="./images/user-2--profile.jpg", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
		.speaker-prof__item
			img.speaker-img(src="./images/user--profile.png", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
		.speaker-prof__item
			img.speaker-img(src="./images/Avatar/avatar-user-01.png", alt="")
			.speaker-description
				p.speaker-name Babila Ebwélé
				p.speaker-resume Phasellus volutpat metus eget egestas
