/* Global Styles for Cards
**********************/

.card {
  position: relative;
  //width: 18rem;
  max-width: 18rem;
  margin-bottom: 40px;
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 250px;
  font-family: var(--primary-font);
  word-wrap: break-word;
  background-color: $lightest-color;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  height: 100%;
  @include font-size(18px);

  .media--top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }

  .card__body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    border-radius: 12px;
    background-color: $lightest-color;
    margin-top: -8px;
    position: relative;

    .card__title {
      font-family: var(--secondary-font);
      font-size: 14px;
      font-weight: 600;
      color: var(--accent-color-06);
      letter-spacing: 0;
      line-height: 20px;
    }

    .card__text {
      opacity: 0.5;
      font-family: var(--secondary-font);
      font-size: 14px;
      color: var(--accent-color-06);
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
    background-color: transparent;
  }
}

// Card video Global styles
.card-video {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 496px;
  margin-top: 35px;
  margin-bottom: 40px;
  font-family: var(--primary-font);
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 12px;
  background-color: $darkest-color;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);

  .card-video__img {
    opacity: 0.4;
    width: 100%;
    border-radius: calc(1rem - 1px);
  }

  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px;

    .card-video__section-title {
      font-weight: 800;
      color: $lightest-color;
      margin-bottom: 17px;
      text-transform: uppercase;
      font-size: 12px;
    }

    .card-video__title {
      width: 50%;
      margin-bottom: 0.75rem;
      font-family: var(--primary-font);
      font-weight: 700;
      color: $lightest-color;
      text-align: left;
      text-transform: uppercase;

      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
  }
}

.box-badge {
  float: right;
  margin-left: -31px;
  margin-top: -131px;

  @media screen and (min-width: 768px) {
    margin-right: 0px;
    margin-left: 0px;
  }

  @media screen and (min-width: 992px) {
    margin-left: -31px;
    margin-right: 9px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 48px;
  }

  .card-video__triangle {
    position: relative;
  }

  .card-video__badge {
    position: relative;
    margin-left: -120px;
    margin-top: -58px;
  }
}

//  Card featured global styles
.card-featured {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 121, 0, 0.06);
  background-clip: border-box;
  border-radius: 12px;

  .card-featured__body {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 32px 36px;
    border-radius: 12px;
    color: var(--darkest-color);
    margin-top: -8px;
    text-align: center;
    justify-content: center;

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
      text-align: left;
    }

    .card-featured__img {
      margin-bottom: 16px;

      @media screen and (min-width: 576px) {
        margin: 0 auto;
      }
    }

    .card-featured__content {
      margin: 0px;
      text-align: center;

      @media screen and (min-width: 576px) {
        margin: 5 auto;
        margin-left: 32px;
        text-align: left;
      }

      .card-featured__title {
        margin-bottom: 0.75rem;
      }

      .card-featured__text {
        opacity: 0.5;
      }
    }
  }
}

.card-panel {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $lightest-color;
  background-clip: border-box;
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;

  .card-panel__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 31px 36px;

    .card-panel__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      @media screen and (min-width: 576px) {
        flex-wrap: nowrap;
        text-align: left;
      }

      .card-panel__img {
        width: 100px;
        height: 100px;
        margin: 0 auto;

        @media screen and (min-width: 576px) {
          margin-right: 10px;
        }
      }

      .card-panel__descrip {
        font-family: var(--primary-font);
        color: $darkest-color;
        padding: 5px 15px;

        .card-panel__title {
          font-weight: 800;
        }

        .card-panel__help-text {
          font-size: 12px;
          opacity: 0.5;
        }

        .card-panel__text {
          opacity: 0.5;
        }

        .card-panel__labels {
          display: flex;
          flex-direction: row;
        }
      }

      .card-panel__action {
        margin: 0 auto;
      }
    }
  }
}

// Card-panel version 2 - Global Styles

.card-panel--start {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $lightest-color;
  background-clip: border-box;
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;

  .card-panel__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 31px 36px;

    .card-panel__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      @media screen and (min-width: 576px) {
        flex-wrap: nowrap;
        text-align: left;
      }

      .card-panel__img {
        width: 100px;
        height: 100px;
        margin: 0 auto;

        @media screen and (min-width: 576px) {
          margin-right: 10px;
        }
      }

      .card-panel__descrip {
        font-family: var(--primary-font);
        color: $darkest-color;
        padding: 5px 15px;

        .card-panel__title {
          font-weight: 800;
        }

        .text-group {
          display: flex;
          text-align: center;

          @media screen and (min-width: 576px) {
            text-align: left;
          }

          .card-panel__help-text {
            font-size: 12px;
            opacity: 0.5;
          }

          .pipe-separator {
            border-left: 1px solid #ccc;
            padding: 0 4px;
            margin-left: 5px;
            height: 22px;

            :first-child {
              border-left: none;
              padding-left: 0;
            }

            :after {
              content: "|";
              margin: 0 4px;
            }

            :last-child:after {
              content: '';
              margin: 0 4px;
            }
          }

          .card_panel__end-text {
            font-size: 12px;
            color: $secondary-color;
          }
        }

        .card-panel__text {
          opacity: 0.5;
        }

        .card-panel__labels {
          display: flex;
          flex-direction: row;
        }
      }

      .card-panel__action {
        margin: 0 auto;
      }
    }
  }
}

// Card-panel version 3 - Global Styles

.card-panel-complete {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $lightest-color;
  background-clip: border-box;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 20px;
  z-index: 1;

  .card-panel__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 31px 36px;

    .card-panel__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      @media screen and (min-width: 576px) {
        flex-wrap: nowrap;
        text-align: left;
      }

      .card-panel__img {
        width: 100px;
        height: 100px;
        margin: 0 auto;

        @media screen and (min-width: 576px) {
          margin-right: 10px;
        }
      }

      .card-panel__descrip {
        font-family: var(--primary-font);
        color: $darkest-color;
        padding: 5px 15px;

        .card-panel__title {
          font-weight: 800;
        }

        .card_panel__end-text {
          font-size: 12px;
          color: $secondary-color;
        }

        .card-panel__text {
          opacity: 0.5;
        }

        .card-panel__labels {
          display: flex;
          flex-direction: row;
        }
      }

      .card-panel__action {
        margin: 0 auto;
      }
    }
  }
}

.card-chart {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 0;
  margin-top: -28px;

  .card-chart__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 31px 65px;

    .card-chart__content {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;

      @media screen and (min-width: 576px) {
        flex-direction: row;
        color: var(--primary-font);
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
      }
    }
  }
}

// Card small Global Styles
.card-small {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $fourth-color;
  background-clip: border-box;
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    top: -4px;
    background-color: $lightest-color;
    text-decoration: none;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }

  .card-small__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;

    .card-small__group {
      display: flex;
      align-items: center;

      .card-small__img {
        width: 50px;
        border-radius: 50%;
      }

      .card-small__text {
        padding: 5px;
        margin-left: 20px;
        color: $darkest-color;
      }
    }
  }

  * {
    transition: all 0.3s ease-out;
  }
}

a {
  color: $darkest-color;
  text-decoration: none;
}


//  card--panel-score Global Styles

.card-panel--score {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $lightest-color;
  background-clip: border-box;
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;

  .card-panel__body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 31px 36px;

    .card-panel__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      @media screen and (min-width: 576px) {
        flex-wrap: nowrap;
        text-align: left;
      }

      .card-panel__img {
        width: 100px;
        height: 100px;
        margin: 0 auto;

        @media screen and (min-width: 576px) {
          margin-right: 10px;
        }
      }

      .card-panel__descrip {
        font-family: var(--primary-font);
        color: $darkest-color;
        padding: 5px 15px;

        .card-panel__title {
          font-weight: 400;
          margin-bottom: 0px;
        }

        .card-panel__help-text {
          font-size: 12px;
          opacity: 0.5;
        }

        .card-panel__text {
          opacity: 0.5;
          font-weight: lighter;
        }

        .card-panel__labels {
          display: flex;
          flex-direction: row;
        }
      }

      .card-panel__action {
        margin: 0 auto;

        button {
          @media screen and(max-width: 575px) {
            width: 100%;
          }
        }

      }
    }
  }
}

.card.card--video-with-actions {
  background-color: transparent;
  border: none;
  padding: 0px;
  min-width: 180px;
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 40px;

  .video-thumbnail--play {
    background: rgba($darkest-color,0.5);
  }

  .video-thumbnail {
    margin-bottom: 16px;
  }

  .card__title {
    color: var(--darkest-color);
    @include font-size(14px);
    font-weight: 600;
    margin-bottom: 8px;
  }
  .card__description {
    color: var(--darkest-color);
    @include font-size(12px);
    font-weight: 400;
    opacity: 0.5;
  }
  .card__footer {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card__footer-stats {
      flex: 1 1 auto;
      display: flex;
      .card__stat-icon {
        width: 14px;
        height: 14px;
        fill: var(--third-color);
        opacity: 0.9;
        margin-right: 4px;
      }
      .card__footer-stats-text {
        color: var(--third-color);
        @include font-size(12px);
        font-weight: 400;
        opacity: 0.9;
      }
    }
    .card__footer-actions {
      flex: 0 1 auto;
      .card__action {
        border: none;
        padding: 0px;
        width: 24px;
        height: 24px;
        .card__action-icon {
          width: 14px;
          height: 14px;
          fill: var(--accent-color-06);
          opacity: 0.6;
        }
      }
    }
  }
}

// Card small-bg Global Styles
.card-small-bg {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 158px;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background: url(../images/card-image-01.png) repeat rgba($darkest-color,0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-clip: border-box;
  border-radius: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  @media screen and (max-width: 575.98px){
    width: 119px;
  }
  @media screen and (min-width: 768px){
    width: 127px;
  }
  @media screen and (min-width: 992px){
    width: 154px;
  }
  @media screen and (min-width: 1200px){
    width: 175px;
  }
  
  
  .card-small__body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: .5rem 1rem .3rem 1rem;
    margin: 0 auto;
    @media screen and(max-width:575.98px) {
      padding: .3rem .5rem .3rem .5rem;
    }
    @media screen and(min-width:768px) {
      padding: .3rem .5rem .1rem .5rem;
    }
    .card-small__title{
      font-size: 14px;
      text-align: center;
      color: $lightest-color;
      font-weight: 600;
      @media screen and(max-width:575.98px) {
        font-size: 12px;
      }
      @media screen and (min-width: 575px){
        font-size: 12px;
      }
    }
  }
}

