.carousel-abilities{
  .carousel-item{
    .card-item{
      display: inline-block;
      width: 100%;
      height: auto;
      margin-left:11px;
    }
  }
  .carousel-control-next{
    position: absolute;
    top: 13px;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    transition: opacity .15s ease;
    margin-right: 24px;

  }
}