// Filter search Global Styles
.filter-search{
  position: relative;
  display: inline-block;
  max-width: 234px;
  width: 100%;
  .filter-title{
    font-family: var(--primary-font);
    color: $darkest-color;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .filter-list{
    list-style-type:none;
    margin-bottom: 40px;
    padding-inline-start: 0px;
    .filter-list__item{
      font-family: var(--primary-font);
      color: $darkest-color;
      font-weight: normal;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.more-inf{
  display: flex;
  flex-direction: row;
  margin-left: -5px;
  align-items: flex-start;
  
  .collapse-button{
    border: transparent;
    background-color: transparent;
  }

  .filter-list__more{
    font-family: var(--primary-font);
    color: $darkest-color;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 21px;
  }

}
.collapse-more__list{
  list-style-type: none;
}
.filter-icon__menu{
  background-image: url("../images/Icon/Filter.svg");
  background-repeat: no-repeat;
  width: 21px;
  border: transparent;
  height: 21px;
  background-color: transparent;
  margin-top: 19px;
  margin-left: auto;
  @media screen and(max-width:575.98px) {
    display:block;
  }
  @media screen and(min-width:576px) {
    display:block;
  }
  @media screen and(min-width:768px) {
    display:none;
  }
  @media screen and(min-width:992px) {
    display:none;
  }
  @media screen and(min-width:1200px) {
    display:none;
  }
}
.filter-search__mobile{
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $lightest-color;
    background-clip: padding-box;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    outline: 0;
    .modal-header{
      border-bottom: transparent;
    }
  }
}
.button--search-icon{
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  width: 21px;
  border: transparent;
  height: 21px;
  background-color: transparent;
  margin-top: 13px;
  margin-left: auto;
}
.searching-mobile{
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $lightest-color;
    background-clip: padding-box;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    outline: 0;
    .modal-header{
      border-bottom: transparent;
    }
  }
}
.search-icon{
  margin-bottom: 6px;
}
.cancel-text{
  color: $primary-color;
  font-weight: 400;
}