ol.list,
ul.list {
  * {
    font-family: var(--primary-font);
  }
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media(tablet) {
    width: 80%;
  }

  a.list-item__link {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
    cursor: pointer;
    padding: 16px;
    transition: all 0.25s ease-in-out;

    .list-link__icon {
      min-width: 32px;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 50%;
      background: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      box-shadow: 1px 1px 2px 0px transparent;
      transition: all 0.25s ease-in-out;

      svg.list__icon,
      svg.list__icon svg {
        width: 18px;
        height: 18px;
        fill: var(--lightest-color);
      }
    }

    .list-link__text {
      font-family: var(--primary-font);

      .list-link__title {
        font-size: 16px;
        font-weight: 600;
        color: var(--darkest-color);
      }

      .list-link__subtitle {
        font-size: 14px;
        font-weight: 400;
        color: var(--darkest-color);
        opacity: .4;
      }
    }

    &:active,
    &:focus,
    &:hover {
      border-radius: 6px;
      background: var(--fourth-color);

      .list-link__icon {
        border-color: var(--lightest-color);
        box-shadow: 1px 1px 2px 0px rgba($darkest-color, 0.2);
      }
    }
  }
}

// List-lite Global Styles
ul.list-lite {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .list-lite__item {
    display: flex;
    flex-direction: row;
    .list-lite__icon {
      min-width: 5px;
      width: 5px;
      height: 5px;
      margin-right: 10px;
      border-radius: 50%;
      background: var(--primary-color);
      display: flex;
      margin-top: 8px;
    }
    .list-lite__text{
      color: $darkest-color;
      opacity: .6;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

ol.list {
  list-style-type: decimal;
  padding-left: 20px;

  &.list--with-image {
    li.list-item {
      margin-bottom: 24px;
      .list-item__content {
        display: flex;
        .list-image {
          margin-top: 2px;
          width: 40px;
          height: 30px;
          margin-right: 12px;
        }
        .list-text {
          .list-title {
            color: var(--darkest-color);
            @include font-size(14px);
            font-weight: 600;
            margin-bottom: 0px;
          }
          .list-subtitle {
            color: var(--darkest-color);
            @include font-size(12px);
            font-weight: 400;
            opacity: 0.5;
          }
        }
      }

    }
  }
}

.list {
  &.list--with-image-round {
    width: 100%;
    li.list-item {
      margin-bottom: 32px;

      &:last-child() {
        margin-bottom: 0px;
      }
      .list-item__content {
        display: flex;
        .list-image {
          min-width: 72px;
          width: 72px;
          height: 72px;
          margin-right: 32px;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .list-text {
          .list-title {
            color: var(--darkest-color);
            @include font-size(16px);
            font-weight: 400;
            margin-bottom: 0px;
          }
          .list-subtitle {
            color: var(--darkest-color);
            @include font-size(14px);
            font-weight: 400;
            opacity: 0.5;
          }
        }
      }

    }
  }
}
