.alert-msg {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  max-width: 500px;

  .alert-msg__container {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    padding: 12px;

    .alert-msg__media {
      max-width: 60px;
      width: 100%;
      margin-right:10px; 
    }

    .alert-msg__descrip {
      display: flex;
      flex-direction: column;
      color: $darkest-color;
      font-family: var(--primary-font);
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      span {
        font-weight: 700;
      }
    }
  }
}