.sidebar-menu {
	transform: translateX(-100%);
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  max-width: 356px;
  background: #0d1733;
  padding: 0px;
  opacity: 1;
  z-index: 100;
  transition: all 0.25s ease-in-out;
  &.is-active {
		transform: translateX(0);
  }

	.sidebar-menu__search-box {
		display: flex;
    flex: 0 0 auto;
    align-items: center;
    color: #0d1733;
    padding: 19px;
    background: #97b4dd;
    min-height: 60px;
    height: 70px;

    label.label-search {
			cursor: pointer;
			color: inherit;
			font-size: 14px;
			line-height: 1.35714;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 2px;
			margin: 0 8px 0 0;
    }

    input.input-search {
    	-webkit-appearance: none;
	    border-radius: 15px 0 0 15px;
	    border: 0;
	    font-size: 16px;
	    line-height: 1.25;
	    padding: 5px 5px 5px 15px;
	    display: block;
	    width: 100%;
	    box-sizing: border-box;
    }
    button.button-search {
    	width: 36px;
	    height: 30px;
	    flex: 0 0 36px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border-radius: 0 15px 15px 0;
	    border: 0;
	    margin: 0;
	    padding: 0;
	    background: #5f6062;
	    -webkit-transition: background-color .3s;
	    cursor: pointer;
	    transition: background-color .3s ease;

	    &:active,
	    &:focus,
	    &:hover {
	    	background-color: #464748;
	    }

	    .icon,
	    .icon svg {
	    	width: 20px;
		    height: 20px;
		    fill: var(--lightest-color);
	    }
    }
	}

	ul.sidebar-menu__list {
		list-style: none;
		padding: 30px 10px;
		overflow: hidden;
		overflow-y: auto;
		max-height: calc(100vh - 60px);
		li.sidebar-menu__list-item {
			padding: 20px 0px 10px 0px;
			border-bottom: 1px solid #979797;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			a.sidebar-menu__list-action,
			.sidebar-menu__list-action {
				padding: 8px 0px 8px 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-left: 4px solid rgba($lightest-color,0);
				text-decoration: none;
				transition: all 0.25s ease-in-out;
				&:active,
				&:focus,
				&:hover,
				&.is-active {
					border-left: 4px solid #f05c22;
					text-decoration: none;
				}
				.list-action__text {
					color: var(--lightest-color);
					padding-right: 10px;
					.list-action__title {
						font-size: 18px;
						line-height: 1.33333;
						letter-spacing: .56px;
						font-weight: 600;

					}
					.list-action__subtitle {
						padding-top: 5px;
						font-size: 16px;
						line-height: 1.5;
					}
				}
				.list-action__icon,
				.list-action__icon svg {
					width: 20px;
					height: 20px;
					fill: var(--lightest-color);
				}
			}
		}
	}

	&.sidebar-menu--level-02 {
		top: 70px;
    padding: 20px;
    width: calc(100% - 26px);
    height: calc(100vh - 130px);
    overflow-y: auto;
    background: #196cb3;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    ul.sidebar-menu__list {
    	padding-top: 0px;
    	li.sidebar-menu__list-item {
    		border: none;
    		padding: 10px 0px;

    		&.sidebar-menu__list-item--icon-left {
					border-bottom: 1px solid var(--lightest-color);
    			padding: 0px 0px 10px 0px;
    			justify-content: flex-start;
    			a.sidebar-menu__list-action,
    			.sidebar-menu__list-action {
    				justify-content: flex-start;
						.list-action__text {
							padding-left: 10px;
						}
    			}
    		}

  			h1.sidebar-menu__list-action {
  				margin: 0px;
					margin-top: 10px;
					text-transform: uppercase;
  			}
  			a.sidebar-menu__list-action,
  			.sidebar-menu__list-action {
  				padding: 0px;

					&:active,
					&:focus,
					&:hover,
					&.is-active {
						border-left: 4px solid transparent;
						text-decoration: none;
					}
  			}
    	}
    }
	}
}
