.nav-landing{
  background-color: $lightest-color;
  .navbar-nav{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
    .nav-item{
      .nav-link{
        padding-left: 0px;
        padding-right: 0px;
        color: $darkest-color;
        margin-right: 20px;
        &:hover{
          border-bottom: 4px solid $accent-color-09;
          padding-right: 0px;
        }
      }
    }
  }
}
.selected{
  border-bottom: 4px solid $accent-color-09;
}