include includes/head.pug
body
	.page.page--light-gray.sections
			.block
				.error-container
					h1.jumbo-error 401
					h4 Whoops!
					h6 You don't have access!
					a.link(href="#") Please contact to support@laureate.net
					img.error-img.mt-3(src="./images/401-OF.svg", alt="401-error")
				