include includes/head.pug
body
	body
	+topbar--closed-menu()
	.container.container--main
		.row
			.col-sm-12
				+banner--ability()
			.col-12
				h4.Abilities
				.row
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
					.col-12.col-lg-4.col-md-6.col-sm-12
						+card--small
			.mb-5
					
	+footer()