include includes/head.pug
body
	+topbar--closed-menu()
	.container.container--main
		.row
			.col-sm-12
				+banner--about01()
	.container.container--main
		.row
			.col-sm-12
				+banner--about02()
	.container.container--main
		.row
			.col-sm-12
				+banner--about03()
	.container.container--main
		.row
			.col-sm-12
				+banner--about04()
	.container.container--main
		.row
			.col-sm-12
				+banner--about05()
	+footer()
