include includes/head.pug
body
	+topbar--closed-menu()
	.page
		.page-content
			section.section--partial-background.section--partial-background--left-top.section--partial-background--medium(style={'background-image': 'url("images/Polygon 6.png")'})
				.container.container--main
					.row
						.col-sm-12
							+banner--about01()
			section.section--main
				.container.container--main
					.row
						.col-sm-12
							+banner--about02()
			section.section--main
				.container.container--main
					.row
						.col-sm-12
							+banner--about03()
			section.section--main
				.container.container--main
					.row
						.col-sm-12
							+banner--about04()
			section.section--color-background.section--color-background--fourth
				.container.container--main
					.row
						.col-sm-12
							+banner--about05()
		
