include includes/head.pug
body
	+topbar()
	.section-background--sixth
	.container
		.col-8
			+banner--basic
		.col-12
			h5 Available Test
			+card--panel
			+card--panel
			+card--panel
			+card--panel
			+card--panel
	+footer()