include includes/head.pug
body
	+new-menu()
	.page
		.page-content.container
			.container--with-sidebar
				.video-thumbnail.video-thumbnail--lg(style={'background-image': 'url("images/content-viewer-video.png")'})
			.sidebar-layout
		+footer()