include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height
		.page-content.container.page-content--with-sidebar
			.container--with-sidebar
				.col-12
					h6 Learning Series
						.block-content--card.mt-3
							+card--with-progressbar().mr-1
							+card--with-progressbar().mr-1
							+card--with-progressbar()
							+card--with-progressbar().mr-1
							+card--with-progressbar().mr-1
							+card--with-progressbar()
					h6 My Skills check
					.card.card--score-pill
						.col
							+score-pill--large-text()
						.col
							+score-pill--large-text()
						.col
							+score-pill--large-text()
						.col
							+score-pill--large-text()
						.col
							+score-pill--large-text()
						.col
							+score-pill--large-text()
					+lpa--card

			.sidebar-layout.sidebar-dashboard
				.block.block--align-left
					.block-content
						.block-content__title.ml-1 Achievements
						.badge-image-container
								+badge-image()
								+badge-image({badgeImage: 'Pathfinder - color.svg'})
								+badge-image({badgeImage: 'Tourist - color.svg'})
								+badge-image({badgeImage: 'Internationality - color.svg'})
								+badge-image({badgeImage: 'AI Pioneer - color.svg'})
								+badge-image({badgeImage: 'Connector - color.svg'})
								+badge-image({badgeImage: 'Problem Solver - color.svg'})
						+link.ml-1('See all')

				.block.block--align-left.block--sidebar
					.block-content.hide-tablet-p 
						.block-content__title.text-left.ml-1 Certificates
						.col-12.col-sm-12.col-md-6
							+card--certificate()
						.col-12.col-sm-12.col-md-6
							+card--certificate()
						.col-12.col-sm-12.col-md-6
							+card--certificate()
						+link('See all')
					.block-content--show-mobile
						.block-content__title.text-left.ml-1 Certificates
						.col-12.col-sm-12.col-md-6.pl-0.pr-0
							+card--certificate()
						.col-12.col-sm-12.col-md-6.pl-0.pr-0
							+card--certificate()
						.col-12.col-sm-12.col-md-6.pl-0.pr-0
							+card--certificate()
						+link('See all')
				+modal--support
		+new-footer()