include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height


		.page-content.container.page-content--with-sidebar

			.container--with-sidebar
				h5 Learning Series
				+card--with-actions--horizontal--inverse()
				h5 Skills check
				+card--with-actions--horizontal--inverse()
				h5 Laureate Professional Assessment
				+card--with-actions--horizontal--inverse()

			.sidebar-layout.sidebar-dashboard

				.block.block--align-left
					.block-content
						.block-content__title Achievements
						+card--basic--image-traslapped()
						+card--basic--image-traslapped-v2()
						+card--basic--image-traslapped()

		+new-footer()