include includes/head.pug
body
	+menu-lms()
	.page.page--grad-purple
		.page-content.page-content--no-min-height


		.page-content.container.page-content--with-sidebar

			.container--with-sidebar
				h5.text-white Learning Series
				+card--with-actions--horizontal--inverse()
				h5.text-white Skills check
				+card--with-actions--horizontal--inverse()
				h5.text-white Laureate Professional Assessment
				+card--with-actions--horizontal--inverse()

			.sidebar-layout.sidebar-dashboard

				.block.block--align-left
					.block-content
						.block-content__title.text-white Achievements
						+card--basic--image-traslapped()
						+card--basic--image-traslapped-v2()
						+card--basic--image-traslapped()

		+new-footer-lms