include includes/head.pug
body
	//- +new-menu()
	.container.container--main
		.row
			.col-12
				+filter-search
			.col-12
				+card--panel-score
			.col-12
				.row
					+card--small-bg
					+card--small-bg
					+card--small-bg
					+card--small-bg
					+card--small-bg
	+new-footer()