include includes/head.pug
body
	+new-menu()
	.page
		//- .page-content.container
		//- 	+modal-basic--large
		//- 	+box-info
		//- 	.box-info.box-info__primary
		//- 		.box-body
		//- 			.flex-container
		//- 				img.media-src.mt-3(src="./images/download.svg", alt="")
		//- 				.box-info--text-content 
		//- 					h5.mt-3 Download Resources
		//- 					.link-container
		//- 						img.mr-2(src="./images/pdf.svg", alt="")
		//- 						.link Quick Start Guide to Online Teaching
		//- 					.link-container
		//- 						img.mr-2(src="./images/pdf.svg", alt="")
		//- 						.link Guía de inicio rápido a la enseñanza.
		//- 	+card--video-stamp
		//- 	+card--checked
		//- 	+banner--boxed--blue
		//- 	+modal-basic-2
		.spinner-container
			.spinner.spinner--big
		
			
	+new-footer()
