include includes/head.pug
body
	.page.page--light-gray.sections
			.block
				.error-container
					h1.jumbo-error Whoops!
					h4 Something bad happen!
					a.link(href="#") Please contact to support@laureate
					img.error-img.mt-3(src="./images/ERROR-OC.svg", alt="error")
				