include includes/head.pug
body
	+new-menu()
	.page
		.page-content.container
			.container--main
				+banner--boxed--purple()
				.row
					.col-12
						+banner()
				.row
					.col-4
						+box(
							{'boxTitle': 'Key Behaviors',
								'hideSubtitle': true,
								'showDescription': true,
								'boxDescription': 'Based on the Laureate Professional Assessment, we’ve broken this ability down into a few key behaviors and provided an example of what they mean.'
							})
					.col-8
						.row
							.col-6
								+box(
									{'boxTitle': 'Critical Thinking',
										'hideSubtitle': true,
										'showIcon': true,
										'iconName': 'Bulb',
										'showDescription': true,
										'boxDescription': 'You look at information critically. You check your sources because knowing where the information comes from is just as important as what’s in it.'
									})
							.col-6
								+box(
									{'boxTitle': 'Critical Thinking',
										'hideSubtitle': true,
										'showIcon': true,
										'iconName': 'Holistic',
										'showDescription': true,
										'boxDescription': 'You look at information critically. You check your sources because knowing where the information comes from is just as important as what’s in it.'
									})
							.col-6
								+box(
									{'boxTitle': 'Critical Thinking',
										'hideSubtitle': true,
										'showIcon': true,
										'iconName': 'Synthesis',
										'showDescription': true,
										'boxDescription': 'You look at information critically. You check your sources because knowing where the information comes from is just as important as what’s in it.'
									})
							.col-6
								+box(
									{'boxTitle': 'Critical Thinking',
										'hideSubtitle': true,
										'showIcon': true,
										'iconName': 'Pattern',
										'showDescription': true,
										'boxDescription': 'You look at information critically. You check your sources because knowing where the information comes from is just as important as what’s in it.'
									})
						.row
							.col-12
								+card--featured()
				.row
					.col-lg-6.col-md-12.col-sm-12.col-12
						+card--video()
					.col-lg-6.col-md-12.col-sm-12.col-12
						+box(
							{'boxTitle': 'Want to improve this ability?',
								'hideSubtitle': false,
								'boxSubtitle': 'Learning Series',
								'showIcon': false,
								'showDescription': true,
								'boxDescription': 'Gain more awareness about the key behaviors for Analyzing & Solving Problems.',
								'showAction': true,
								'boxAction': 'Start the Episode'
							})

				.container
					.row
						.col-12
							+button({'buttonTitle': 'Mi botón','showIcon': true, 'iconName': 'Synthesis'}).button--secondary
						.col-12
							+button({'buttonTitle': 'Mi botón primario'}).button--primary
						.col-12
							+button({'buttonTitle': 'Ghost button'}).button--ghost
					.row
						.col
							+card
						.col
							+card
						.col
							+card
						.col
							+card
				.col-12
					+card--panel
				.col-12
					.row
						+chart
						+chart
						+chart
				.col-12
					+card--panel-start
					+card--panel-complete
				.section-background--secondary
				.col-12
					.row
						.col
							+card--small
						.col
							+card--small
						.col
							+card--small
						.col
							+card--small
				.col-12
					+modal-basic
				.col-12
					+chart--info
				.col-12
					+alert-message
					+score-pill
					.mt-2
					+card--panel-score
				.col-12
					+filter-search
				.col-12
					+card--v4
					+modal--IE
					button.btn.btn-secondary.waves-effect.waves-light(type='button', data-toggle='modal', data-target='#exampleModalLongSC') hola
					

					#exampleModalLongSC.modal.fade.top.show(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitleSC', data-gtm-vis-first-on-screen-2340190_1302='1459744', data-gtm-vis-total-visible-time-2340190_1302='100', data-gtm-vis-has-fired-2340190_1302='1', style='display: none;', aria-modal='true')
						.modal-dialog.modal-dialog-scrollable(role='document')
							.modal-content
								.modal-header
									h5#exampleModalLongTitleSC.modal-title Modal title
									button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
								.modal-body
									p
									| Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
									| quam.
									| Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
									p
									| Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
									| laoreet
									| rutrum faucibus dolor auctor.
									p
									| Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
									| consectetur
									| et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
									p
									| Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
									| quam.
									| Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
									p
									| Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
									| laoreet
									| rutrum faucibus dolor auctor.
									p
									| Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
									| consectetur
									| et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
									p
									| Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
									| quam.
									| Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
									p
									| Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
									| laoreet
									| rutrum faucibus dolor auctor.
									p
									| Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
									| consectetur
									| et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
									p
									| Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
									| quam.
									| Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
									p
									| Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
									| laoreet
									| rutrum faucibus dolor auctor.
									p
									| Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
									| consectetur
									| et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
									p
									| Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
									| quam.
									| Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
									p
									| Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
									| laoreet
									| rutrum faucibus dolor auctor.
									p
									| Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
									| consectetur
									| et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
									p
									| Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
									| quam.
									| Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
									p
									| Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
									| laoreet
									| rutrum faucibus dolor auctor.
									p
									| Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
									| consectetur
									| et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
								.modal-footer
									button.btn.btn-secondary.waves-effect.waves-light(type='button', data-dismiss='modal') Close
									button.btn.btn-primary.waves-effect.waves-light(type='button') Save changes
			+lpa--card
		+new-footer()
	//- +modal--primary()
