include includes/head.pug
body
	.row
		.container
			.col-12
				+button({'buttonTitle': 'Mi botón'})
			.col-12
				+button({'buttonTitle': 'Mi botón primario'}).button--primary
			.col-12
				+button({'buttonTitle': 'Ghost button'}).button--ghost
				