include includes/head.pug
body
	+new-menu()
	.page
		.page-content.container
			.block
				.interest-content
					+link('Back to Passport')
					h4.mt-2 Edit your Interests
					p Providing your interests improves your recommendations and helps us match you with other students around the world.
					h6 Academics Interests
					.pill-checkboxes-container
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1', data-toggle="collapse", href="#ArtsandHumanities", role="button" aria-expanded="false", aria-controls="collapseExample")
								span.pill-text
									| Arts and Humanities
						#ArtsandHumanities.collapse
							.content-collapsed
								.pill-checkboxes-container
									.pill-checkbox-item
										label.label-pill-checkbox
											input(type='checkbox', name='feature', value='1')
											span.pill-text
												| Applied Arts
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| History
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Languages
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Linguistics
								
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1', data-toggle="collapse", href="#Business", role="button" aria-expanded="false", aria-controls="collapseExample")
								span.pill-text
									| Business
						#Business.collapse
							.content-collapsed
								.pill-checkboxes-container
									.pill-checkbox-item
										label.label-pill-checkbox
											input(type='checkbox', name='feature', value='1')
											span.pill-text
												| Accounting
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Economics
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Entrepreneurship
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Finance
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Human Resources
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Leadership
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1')
								span.pill-text
									| Engineering
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1')
								span.pill-text
									| Health Science
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1')
								span.pill-text
									| Information Technology
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1')
								span.pill-text
									| Professional Skills
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1')
								span.pill-text
									| Social Sciences
					h6.mt-2 Personal Interests
					.pill-checkboxes-container
						.pill-checkbox-item
							label.label-pill-checkbox
								input(type='checkbox', name='feature', value='1', data-toggle="collapse", href="#PersonalInterests", role="button" aria-expanded="false", aria-controls="collapseExample")
								span.pill-text
									| Personal Interests
						#PersonalInterests.collapse
							.content-collapsed
								.pill-checkboxes-container
									.pill-checkbox-item
										label.label-pill-checkbox
											input(type='checkbox', name='feature', value='1')
											span.pill-text
												| Animals and pets
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Art
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Culinary
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Dance
									.pill-checkbox-item
										label.label-pill-checkbox
											input(type='checkbox', name='feature', value='1')
											span.pill-text
												| DIY and Crafts
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Fashion
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Film, music, and books
									.pill-checkbox-item
											label.label-pill-checkbox
												input(type='checkbox', name='feature', value='1')
												span.pill-text
													| Food and Drink
				
					
					.button-group(style='margin-top: 50px;')
						+button({'buttonTitle': 'Save'}).button--primary
						+button({'buttonTitle': 'Cancel'}).button--ghost-primary.button--transparent
					
								

		+new-footer()