include includes/head.pug
body
	.page.bg-section--lms
		+lms-navbar
		.audio-container
			.audio-container--img
				.bg-audio.rounded-circle
				a.play-audio--link(href="#")
					img.play-audio--img(src="./images/Icon/Pause - Alt.svg", alt="")
			p.audio-title Ornare Vulputate Inceptos Sem Risus
			.progress-container--audio
				.progress-bar-container
					.progress-bar__marker(style={'left': 'calc('+progressValue+'% - 15px);'}) #{progressValue}
					progress(max="100" value=progressValue)
						.progress-bar--fallback
							.progress-bar__value(style={'width': progressValue+'%'})
			.block.mt-3.mb-5
				.btn-group.show
					button.button.button--primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Download Transcript
					.dropdown-menu.dropdown-menu--rounded.show(x-placement='bottom-start', style='position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;')
						a.dropdown-item(href='#') Spanish
						a.dropdown-item(href='#') Portuguesse
						
		.controls-layout--lms
			a.control-back--lms(href="#") Back
			a.control-next--lms(href="#") Next