include includes/head.pug
body
	.page.page--light-gray.sections
			.block
				.error-container
					h1.jumbo-error 404
					h4 Whoops!
					h6 Page not found!
					a.link.link--yellow(href="#") Please contact to support@laureate
					img.error-img.mt-3(src="./images/error-img.svg", alt="")
				