include includes/head.pug
body
	.page.bg-section--lms
		+lms-navbar
		.page-content.container
			.banner.banner--boxed.banner--accent-09
				.banner__content
					.banner__text
						p.label-light--text Article
						h4.banner__title Data Science Insights
						p.label__description Quickly and easily check your skill level in the five areas employers say are most important for the success of new employees.
						a.link.link--light(href="") Skip Quiz
				.banner__image(style={'background-image': 'url("images/banner--boxed-02.png")'})
					.banner__inside-image(style={'background-image': 'url("images/masks/banner-mask--yellow.svg")'})
			.card.card--full-size
				.card-body
					.block
						p.label-dark--text QUIZ
						h6.title-lms--center Why would looking at the history of where the data came from be so important when gathering it to solve a problem?
						.bg__main-container
							.checkbox-container
								.checkbox-custom--item
									.checkbox-custom
										input#checkOne.checkbox-custom--input(type='checkbox', value='value1')
										label.checkbox-custom--label(for='checkOne')
									p.checkbox-custom--text Data you are using may have been gathered without with different goals in mind or might be old and irrelevant to your cause.
								.checkbox-container
									.checkbox-custom--item
										.checkbox-custom
											input#checkOne.checkbox-custom--input(type='checkbox', value='value1')
											label.checkbox-custom--label(for='checkOne')
										p.checkbox-custom--text Data you are using may have been gathered without with different goals in mind or might be old and irrelevant to your cause.
								.checkbox-container
									.checkbox-custom--item
										.checkbox-custom
											input#checkOne.checkbox-custom--input(type='checkbox', value='value1')
											label.checkbox-custom--label(for='checkOne')
										p.checkbox-custom--text Data you are using may have been gathered without with different goals in mind or might be old and irrelevant to your cause.
		.controls-layout--lms
			a.control-back--lms(href="#") Back
			a.control-next--lms(href="#") Next