include includes/head.pug
body
	.page.bg-section--lms
		+lms-navbar
		.page-content.container
			.card.card--mid-size(style="margin:30px auto")
				.card-body
					.block
						h3.title-lms--center Congratulations!
						p.text__description.text-center.mb-3 You complete this episode
						img.congrats-img.mx-auto(src="./images/congrats.svg", alt="Congratulations")
						.button.button--primary.mt-3 Download your Degree
						+spinner
		.controls-layout--lms
			a.control-back--lms(href="#") Back
			a.control-next--lms(href="#") Next