include includes/head.pug
body
	.page.bg-section--lms
		+lms-navbar
		.page-content.container
			.banner.banner--boxed.banner--accent-09
				.banner__content
					.banner__text
						p.label-light--text Video
						h4.banner__title Data Science Insights
						p.label__description Quickly and easily check your skill level in the five areas employers say are most important for the success of new employees.
						a.link.link--light(href="") Skip video
				.banner__image(style={'background-image': 'url("images/banner--boxed-02.png")'})
					.banner__inside-image(style={'background-image': 'url("images/masks/banner-mask--yellow.svg")'})
			.box-info.box-info__warning
				.box-body
					.flex-container.justify-content-between.align-items-center.flex-nowrap
						img.media-src.mr-2(src="./images/cc.svg", alt="")
						.box-info--text-content
							p.text-left The following You Tube video is available with subtitles in English and other languages. To enable the feature, on the video player select "Settings", then "Subtitles", and select "Translate Automatically". Select  your preferred language.
			.card.card--full-size(style="margin:30px auto")
				iframe(width='560', height='315', src='https://www.youtube.com/embed/26GlYvcYZiI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

			
		.controls-layout--lms
			a.control-back--lms(href="#") Back
			a.control-next--lms(href="#") Next