include includes/head.pug
body
	.page.bg-section--lms
		+lms-navbar
		.page-content.container
			.card.card--full-size(style="margin:30px auto")
				iframe(width='560', height='315', src='https://www.youtube.com/embed/26GlYvcYZiI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
		.controls-layout--lms
			a.control-back--lms(href="#") Back
			a.control-next--lms(href="#") Next