include includes/head.pug
body
	.page.bg-section--lms
		+lms-navbar
		.page-content.container
			.card.card--full-size(style="margin:30px auto")
				.card-body
					.block
						.box-quotes
							.box-body
								img.float-left.mr-1(src="https://storage.googleapis.com/portal-assets/assets/images/images/quote.svg", alt="")
								.quote-text.text-center Data Science are kind of like the new reinaissance folks, because data science is inherently multidisciplinary.
								img.float-right(src="https://storage.googleapis.com/portal-assets/assets/images/images/quote.svg", alt="")
						.biography-autor
							.name-autor.text-center Jhon Forenman
							p.text-center   Vicepresident of product managment at mailchimp
		.controls-layout--lms
			a.control-back--lms(href="#") Back
			a.control-next--lms(href="#") Next