include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height.divider--primary-gradient

		.page-content.container.page-content--with-sidebar
			.sidebar-layout.sidebar-passport
				.block.block--align-left.block--sidebar
					+avatar({'avatarImage': 'avatar-user-02.png'}).avatar--large.avatar--with-status.avatar--status-online
					img.institution-logo(src="images/logo-laureate.png")
					.block-content
						.block-content__main-title 
							span Helena Moriá Morteval Amorim
							.button-group.button-group--float.button-group--float-right
								+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
						p.block-content__description Faculty member, Executive Director, Product Management
					.block-content
						.block-content__title.m-0 Languages
						p.block-content__description Portuguese, English, Spanish, Amharic
					.button-group
						+button({'buttonTitle': 'Connect'}).button--primary
						+button({'buttonTitle': 'Message'}).button--primary.button--ghost-primary

				.block.block--align-left.block--sidebar.hide-tablet-p
					.block-content
						.block-content__title Achievements
						.badge-image-container
								+badge-image()
								+badge-image({badgeImage: 'Pathfinder - color.svg'})
								+badge-image({badgeImage: 'Tourist - color.svg'})
								+badge-image({badgeImage: 'Internationality - color.svg'})
								+badge-image({badgeImage: 'AI Pioneer - color.svg'})
								+badge-image({badgeImage: 'Connector - color.svg'})
								+badge-image({badgeImage: 'Problem Solver - color.svg'})
						+link('See more')

				.block.block--align-left.block--sidebar.hide-tablet-p
					.block-content
						.block-content__title Certificates
						+card--certificate()
						+card--certificate()
						+card--certificate()
						+link('See more')

			.container--with-sidebar.container--with-sidebar--left

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title About
						.block-content__description.block-content__description--boxed.block-content__description--with-action
							span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
							+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Goals
						.block-content__description.block-content__description--boxed.block-content__description--with-action.block-content__description--editing
							span.text(contentEditable="true") Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
							.button-group--float-right.col-12.col-sm-12.col-md-6.col-lg-8.col-xl-6
								+button({'buttonTitle': 'Cancel'}).button--primary.button--ghost-primary.mr-1
								+button({'buttonTitle': 'Save'}).button--primary
							+button({'hideTitle': true,'showIcon': true,'iconName': 'check'}).button--primary.button--only-icon--xsmall.button--float-right
				
				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Top Abilities
						.row.chart-container
							.col
								+chart
							.col
								+chart
							.col
								+chart

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title 
							span Professional Interests
							.button-group.button-group--float.button-group--float-right
								+button({'hideTitle': true,'showIcon': true,'iconName': 'add'}).button--primary.button--only-icon--xsmall.button--float-right
								+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
						.label__tags
							.label.label--light.label--medium Innovation
							.label.label--light.label--medium Entrepeneur
							.label.label--light.label--medium Making Decisions
							.label.label--light.label--medium Emerging Technology
							.label.label--light.label--medium Innovation
							.label.label--light.label--medium Entrepeneur
							.label.label--light.label--medium Making Decisions
							.label.label--light.label--medium Emerging Technology

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Degrees
					.block-content.block-content--boxed
						.block-content--list
							.block-content__title 
								span Career
								.button-group.button-group--float.button-group--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'add'}).button--primary.button--only-icon--xsmall.button--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
							.block-content__subtitle--small University
							.block-content__subtitle--secondary Mar 2010 - Jun 2012

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Work Experience
					.block-content.block-content--boxed
						.block-content--list
							.block-content__title 
								span Vestibulum Lorem Risus Commodo Sollicitudin
								.button-group.button-group--float.button-group--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'add'}).button--primary.button--only-icon--xsmall.button--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
							.block-content__subtitle Company · Position
							.block-content__subtitle--secondary Mar 2010 - Jun 2012
							.block-content__subtitle--small City
							.block-content__description
								span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
									+link('...See more').link--inline.link--dark

						.block-content--list
							.block-content__title 
								span Vestibulum Lorem Risus Commodo Sollicitudin
							.block-content__subtitle Company · Position
							.block-content__subtitle--secondary Mar 2010 - Jun 2012
							.block-content__subtitle--small City
							.block-content__description
								span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
									+link('...See more').link--inline.link--dark

						.block-content--list
							.block-content__title 
								span Vestibulum Lorem Risus Commodo Sollicitudin
							.block-content__subtitle Company · Position
							.block-content__subtitle--secondary Mar 2010 - Jun 2012
							.block-content__subtitle--small City
							.block-content__description
								span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
									+link('...See more').link--inline.link--dark
				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Portfolio
					.block-content.block-content--boxed
						.block-content--port
							.block-content__title.d-flex
								h6.mr-1 Portfolio Resources
								+button({'buttonTitle': '?'}).button--primary.button--only-icon--xsmall.button--float-right(type='button', data-toggle='modal', data-target='#modalPortabout')
									
								.button-group.button-group--float.button-group--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right(type='button', data-toggle='modal', data-target='#modalPortfolio')
								
							.block-content__portfolio-container
								img.bg-purple(src="https://onefaculty.laureate.net/assets/images/resources/media-purple.svg", alt="")
								.resource-footer.resource-footer--purple
									h6 Nadia Portfolio
							
						#modalPortfolio.modal.modal-alert.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
							.modal-dialog.modal-dialog--bottom.modal-dialog-portfolio(role='document')
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-label='Close')
											span(aria-hidden='true') ×
									.modal-body
										h4.text-title.text-center Add a Portfolio Resource
										.profile-form.mx-auto
											.form-group.mt-2
												label(for="field1") Resource name
												input.form-control(type="text" id="field1" placeholder="")
												
											.form-group.mt-2
												label(for="field2") Link
												input.form-control(type="text" id="field2" placeholder="")
											h6.mr-auto Select color pallete theme
											.radio-button-group
												.radio-container-group.mr-2
													.radio-button--default
														.custom-control.custom-radio
															input.custom-control-input#customRadio1(type="radio",name="example1",value="customEX")
															label(for="customRadio1").custom-control-label
													img(src="./images/blue-resource.svg", alt="")
												.radio-container-group.mr-2
													.radio-button--default
														.custom-control.custom-radio
															input.custom-control-input#customRadio2(type="radio",name="example1",value="customEX")
															label(for="customRadio2").custom-control-label
													img(src="./images/purple-resource.svg", alt="") 
												.radio-container-group.mr-2
													.radio-button--default
														.custom-control.custom-radio
															input.custom-control-input#customRadio3(type="radio",name="example1",value="customEX")
															label(for="customRadio3").custom-control-label
													img(src="./images/yellow-resource.svg", alt="")
											.radio-button-group.mt-3
												.radio-container-group.mr-2
													.radio-button--default
														.custom-control.custom-radio
															input.custom-control-input#customRadio4(type="radio",name="example1",value="customEX")
															label(for="customRadio4").custom-control-label
													img.bg-select(src="https://onefaculty.laureate.net/assets/images/resources/directory-blue.svg", alt="")
												.radio-container-group.mr-2
													.radio-button--default
														.custom-control.custom-radio
															input.custom-control-input#customRadio5(type="radio",name="example1",value="customEX")
															label(for="customRadio5").custom-control-label
													img.bg-select(src="https://onefaculty.laureate.net/assets/images/resources/document-blue.svg", alt="") 
												.radio-container-group.mr-2
													.radio-button--default
														.custom-control.custom-radio
															input.custom-control-input#customRadio6(type="radio",name="example1",value="customEX")
															label(for="customRadio6").custom-control-label
													img.bg-select(src="https://onefaculty.laureate.net/assets/images/resources/media-blue.svg", alt="")
												.radio-container-group.mr-2
													.radio-button--default
														.custom-control.custom-radio
															input.custom-control-input#customRadio7(type="radio",name="example1",value="customEX")
															label(for="customRadio7").custom-control-label
													img.bg-select(src="https://onefaculty.laureate.net/assets/images/resources/website-blue.svg", alt="")
									.modal-footer-passport.mx-auto
										+button({'buttonTitle': 'Cancel'}).button--ghost-primary.mr-1
										+button({'buttonTitle': 'Save'}).button--primary
											

												

				.block.block--align-left.block--no-mobile-changes.show-tablet-p-down
					.block-content
						.block-content__title Achievements
						.badge-image-container
								+badge-image()
								+badge-image({badgeImage: 'Pathfinder - color.svg'})
								+badge-image({badgeImage: 'Tourist - color.svg'})
								+badge-image({badgeImage: 'Internationality - color.svg'})
								+badge-image({badgeImage: 'AI Pioneer - color.svg'})
								+badge-image({badgeImage: 'Connector - color.svg'})
								+badge-image({badgeImage: 'Problem Solver - color.svg'})
						+link('See more')

				.block.block--align-left.block--no-mobile-changes.show-tablet-p-down
					.block-content
						.block-content__title Certificates
						+card--certificate()
						+card--certificate()
						+card--certificate()
						+link('See more')
				

		+new-footer()