include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height.divider--primary-gradient

		.page-content.container
				.block.block--private-profile
					img.private-profile__image(src="images/profile--private.png")
					.private-profile__main-title
							span Helena Moriá Morteval Amorim
					.private-profile__title
						span This profile is private
					p.private-profile__description Connect with this person to see his/her information
				
		+new-footer()