include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height

		.page-content.container

				.block
					.profile-form
						+button({'buttonTitle': 'Back to Profile','showIcon': true,'iconName': 'arrow-left'}).button--icon-left.button--back
						
						.form-group.mt-2
							label(for="field1") Position Description
							textarea.form-control
							small.form-text.text-muted Helper Text

						.form-group.mt-2
							label(for="field1") Company
							input.form-control(type="text" id="field1" placeholder="Enter company name")
							small.form-text.text-muted Helper Text

						.form-group.mt-2
							label(for="field2") field name
							input.form-control(type="text" id="field2" placeholder="Enter field name")
							small.form-text.text-success Helper Text

						.form-group.mt-2
							label(for="field3") Field of study
							input.form-control(type="text" id="field3" placeholder="Faculty member")
							small.form-text.text-danger Helper Text

						.form-group.mt-2
							.input-group
								input.form-control(type="text")
								.input-group-append
									span.input-group-text r
							small.form-text.text-danger Helper Text

						.form-group.mt-2
							+checkbox--default()

						.profile-form__footer
							.button-group
								+button({'buttonTitle': 'Save'}).button--primary
								+button({'buttonTitle': 'Cancel'}).button--ghost-primary.button--transparent
							
				
		+new-footer()