include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height

		.page-content.container

				.block
					.profile-form
						+button({'buttonTitle': 'Back to Profile','showIcon': true,'iconName': 'arrow-left'}).button--icon-left.button--back
						.avatar.avatar--no-image-tag.avatar--large(style={'background-image': 'url("images/Avatar/avatar-user-02.png")'}, alt="user photo" role="image")
							+button({'hideTitle': true,'showIcon': true,'iconName': 'camera'}).button--transparent.button--only-icon--xsmall.button--cover
						
						.form-group.mt-2
							label(for="field1") First Name
							input.form-control(type="text" id="field1" placeholder="Enter your first name")
							small.form-text.text-muted Helper Text

						.form-group.mt-2
							label(for="field2") Last Name
							input.form-control(type="text" id="field2" placeholder="Enter your last name")
							small.form-text.text-success Helper Text

						.form-group.mt-2
							label(for="field3") Field of study
							input.form-control(type="text" id="field3" placeholder="Faculty member")
							small.form-text.text-danger Helper Text
							

						.form-group.mt-2
							label(for="field4") Languages
							input.form-control(type="text" id="field4" placeholder="Choose language")
							small.form-text.text-warning Helper Text
							.label__tags
								.label.label--primary.label--medium Innovation
								.label.label--primary.label--medium Entrepeneur
								.label.label--primary.label--medium Making Decisions
								.label.label--primary.label--medium Emerging Technology
								.label.label--primary.label--medium Innovation
								.label.label--primary.label--medium Entrepeneur
								.label.label--primary.label--medium Making Decisions
								.label.label--primary.label--medium Emerging Technology

						.form-group.mt-2
							+checkbox--default()

						.profile-form__footer
							.button-group
								+button({'buttonTitle': 'Save'}).button--primary
								+button({'buttonTitle': 'Cancel'}).button--ghost-primary.button--transparent
							
				
		+new-footer()