include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height.divider--primary-gradient

		.page-content.container.page-content--with-sidebar
			.sidebar-layout.sidebar-passport
				.block.block--align-left.block--sidebar
					+avatar({'avatarImage': 'avatar-user-02.png'}).avatar--large.avatar--with-status.avatar--status-online
					img.institution-logo(src="images/logo-laureate.png")
					.block-content
						.block-content__main-title 
							span Helena Moriá Morteval Amorim
							.button-group.button-group--float.button-group--float-right
								+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
						p.block-content__description Faculty member, Executive Director, Product Management
					.block-content
						.block-content__title.m-0 Languages
						p.block-content__description Portuguese, English, Spanish, Amharic
					.button-group
						+button({'buttonTitle': 'Connect'}).button--primary
						+button({'buttonTitle': 'Message'}).button--primary.button--ghost-primary

				.block.block--align-left.block--sidebar.hide-tablet-p
					.block-content
						.block-content__title Achievements
						.badge-image-container
								+badge-image()
								+badge-image({badgeImage: 'Pathfinder - color.svg'})
								+badge-image({badgeImage: 'Tourist - color.svg'})
								+badge-image({badgeImage: 'Internationality - color.svg'})
								+badge-image({badgeImage: 'AI Pioneer - color.svg'})
								+badge-image({badgeImage: 'Connector - color.svg'})
								+badge-image({badgeImage: 'Problem Solver - color.svg'})
						+link('See more')

				.block.block--align-left.block--sidebar.hide-tablet-p
					.block-content
						.block-content__title Certificates
						+card--certificate()
						+card--certificate()
						+card--certificate()
						+link('See more')

			.container--with-sidebar.container--with-sidebar--left

				.block.block--align-left.block--no-mobile-changes
					.block-content
							.block-content__description.block-content__description--boxed.block-content__description--with-action
								img.empty-icon.text-center(src="./images/1x/empty.png", alt="empty-icon")
								h6.text-center No info to show!
								span.text.text-center.mb-3 The user does not have information yet.
								

		+new-footer()