include includes/head.pug
body
	+new-menu()
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height.divider--primary-gradient

		.page-content.container.page-content--with-sidebar
			.sidebar-layout.sidebar-passport
				.block.block--align-left.block--sidebar
					+avatar({'avatarImage': 'avatar-user-02.png'}).avatar--large.avatar--with-status.avatar--status-online
					img.institution-logo(src="images/logo-laureate.png")
					.block-content
						.block-content__main-title 
							span Helena Moriá Morteval Amorim
							.button-group.button-group--float.button-group--float-right
								+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
						p.block-content__description Faculty member, Executive Director, Product Management
					.block-content
						.block-content__title.m-0 Languages
						p.block-content__description Portuguese, English, Spanish, Amharic
					.button-group
						+button({'buttonTitle': 'Connect'}).button--primary
						+button({'buttonTitle': 'Message'}).button--primary.button--ghost-primary

				.block.block--align-left.block--sidebar.hide-tablet-p
					.block-content
						.block-content__title Achievements
						.badge-image-container
								+badge-image()
								+badge-image({badgeImage: 'Pathfinder - color.svg'})
								+badge-image({badgeImage: 'Tourist - color.svg'})
								+badge-image({badgeImage: 'Internationality - color.svg'})
								+badge-image({badgeImage: 'AI Pioneer - color.svg'})
								+badge-image({badgeImage: 'Connector - color.svg'})
								+badge-image({badgeImage: 'Problem Solver - color.svg'})
						+link('See more')

				.block.block--align-left.block--sidebar.hide-tablet-p
					.block-content
						.block-content__title Certificates
						+card--certificate()
						+card--certificate()
						+card--certificate()
						+link('See more')

			.container--with-sidebar.container--with-sidebar--left

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title About
						.block-content__description.block-content__description--boxed.block-content__description--with-action
							span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
							.button-group--float-right.col-12.col-sm-12.col-lg-6.col-xl-6
								+button({'buttonTitle': 'Cancel'}).button--primary.button--ghost-primary.mr-1
								+button({'buttonTitle': 'Save'}).button--primary
							+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Goals
						.block-content__description.block-content__description--boxed.block-content__description--with-action.block-content__description--editing
							span.text(contentEditable="true") Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
							+button({'hideTitle': true,'showIcon': true,'iconName': 'check'}).button--primary.button--only-icon--xsmall.button--float-right
				
				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Top Abilities
						.row.chart-container
							.col
								+chart
							.col
								+chart
							.col
								+chart

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title 
							span Professional Interests
							.button-group.button-group--float.button-group--float-right
								+button({'hideTitle': true,'showIcon': true,'iconName': 'add'}).button--primary.button--only-icon--xsmall.button--float-right
								+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
						.label__tags
							.label.label--light.label--medium Innovation
							.label.label--light.label--medium Entrepeneur
							.label.label--light.label--medium Making Decisions
							.label.label--light.label--medium Emerging Technology
							.label.label--light.label--medium Innovation
							.label.label--light.label--medium Entrepeneur
							.label.label--light.label--medium Making Decisions
							.label.label--light.label--medium Emerging Technology

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Degrees
					.block-content.block-content--boxed
						.block-content--list
							.block-content__title 
								span Career
								.button-group.button-group--float.button-group--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'add'}).button--primary.button--only-icon--xsmall.button--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
							.block-content__subtitle--small University
							.block-content__subtitle--secondary Mar 2010 - Jun 2012

				.block.block--align-left.block--no-mobile-changes
					.block-content
						.block-content__title Work Experience
					.block-content.block-content--boxed
						.block-content--list
							.block-content__title 
								span Vestibulum Lorem Risus Commodo Sollicitudin
								.button-group.button-group--float.button-group--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'add'}).button--primary.button--only-icon--xsmall.button--float-right
									+button({'hideTitle': true,'showIcon': true,'iconName': 'edit'}).button--primary.button--only-icon--xsmall.button--float-right
							.block-content__subtitle Company · Position
							.block-content__subtitle--secondary Mar 2010 - Jun 2012
							.block-content__subtitle--small City
							.block-content__description
								span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
									+link('...See more').link--inline.link--dark

						.block-content--list
							.block-content__title 
								span Vestibulum Lorem Risus Commodo Sollicitudin
							.block-content__subtitle Company · Position
							.block-content__subtitle--secondary Mar 2010 - Jun 2012
							.block-content__subtitle--small City
							.block-content__description
								span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
									+link('...See more').link--inline.link--dark

						.block-content--list
							.block-content__title 
								span Vestibulum Lorem Risus Commodo Sollicitudin
							.block-content__subtitle Company · Position
							.block-content__subtitle--secondary Mar 2010 - Jun 2012
							.block-content__subtitle--small City
							.block-content__description
								span.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget as a lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia inia biben
									+link('...See more').link--inline.link--dark

				.block.block--align-left.block--no-mobile-changes.show-tablet-p-down
					.block-content
						.block-content__title Achievements
						.badge-image-container
								+badge-image()
								+badge-image({badgeImage: 'Pathfinder - color.svg'})
								+badge-image({badgeImage: 'Tourist - color.svg'})
								+badge-image({badgeImage: 'Internationality - color.svg'})
								+badge-image({badgeImage: 'AI Pioneer - color.svg'})
								+badge-image({badgeImage: 'Connector - color.svg'})
								+badge-image({badgeImage: 'Problem Solver - color.svg'})
						+link('See more')

				.block.block--align-left.block--no-mobile-changes.show-tablet-p-down
					.block-content
						.block-content__title Certificates
						+card--certificate()
						+card--certificate()
						+card--certificate()
						+link('See more')
				

		+new-footer()