include includes/head.pug
body
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content
			.block
				.login-block
					.redirect-container
						img.reset-img(src="./images/hourglass.svg", alt="logo")
						h5.mt-2.text-center You are now bewing redirected to login to OneCampus by Laureate through your institution.
						p.text-center Questions? Please contact
						.link onecampussupport@laureate.net

						h2.counter 3
				