include includes/head.pug
body
	.page
		.page-content.container
			.block
				.login-block
					.redirect-container
						img.redirect-img(src="./images/redirect.svg", alt="logo")
						h1.mt-2.text-center You will be redirect
						h3.mt-2.text-center Please wait!

				