include includes/head.pug
body
	.page
		.login-container
			.media-container
			.login-form
				.login-block
					.profile-form
						img.reset-img(src="./images/smile.svg", alt="logo")
						h4.pb-0.text-left It's Okay! Nadia Aguilar
						h6 Reset your password
						p.pb-0 Your password must meet the following requirements
						ul.list-lite
							.list-lite__item
								.list-lite__icon
								.list-lite__text A minimum of 8 characters
							.list-lite__item
								.list-lite__icon
								.list-lite__text A maximun of 50 characters
							.list-lite__item
								.list-lite__icon
								.list-lite__text Must contain at least 1 lowercase letter, at least 1 uppercase letter, and at least 1 number
						.form-group.mt-2
							label(for="field1") Enter new password
							input.form-control(type="password" id="field1" placeholder="Enter new password")
							small.form-text.text-muted Helper Text
						.form-group.mt-2
							label(for="field1") Confirm your new password
							input.form-control(type="password" id="field1" placeholder="Confirm your new password")
							small.form-text.text-muted Helper Text

						+button({'buttonTitle': 'Save'}).button--primary.button--fullwidth
						.block
							small.mt-3 © 2020 Laureate Education Inc. All rights reserved.
							.link Terms and Conditions of Use
	