include includes/head.pug
body
	+new-menu()
	.page.page--light-graysection.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.container.page-content--no-min-height
			+button({'buttonTitle': 'Back','showIcon': true,'iconName': 'arrow-left'}).button--icon-left.button--back
			.input-search-container
				.input-search__text
					span.input-search__title Results for 
					span.input-search__keywords "Learning Paths"
				+button({'hideTitle': true,'showIcon': true,'iconName': 'search'}).button--transparent.button--only-icon--small.button--search-icon
				.input-search-control
					.input-search-control__icon
						svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
							use(xlink:href='images/icons/oc-icons.svg#oc-search')
					input(type="text" placeholder="Search").input-search
					.input-search-results
						ul.list-search-result
							li.list-search-result__item-container
								a.search-result__item
									span.search-result__text.search-result__text--highlighted Busines
									span.search-result__text s Etheria Vulputate
							li.list-search-result__item-container
								a.search-result__item
									span.search-result__text.search-result__text--highlighted Busines
									span.search-result__text s Malesuada Stiporum
							li.list-search-result__item-container
								a.search-result__item
									span.search-result__text.search-result__text--highlighted Busines
									span.search-result__text s Fermentum Aviria
							li.list-search-result__item-container
								a.search-result__item
									span.search-result__text Lorem ipsum 
									span.search-result__text.search-result__text--highlighted Busines
									span.search-result__text s Aderium

			.control-bar
				.control-bar__result
					.control-bar__result-text 0 items found
				+button({'hideTitle': true,'showIcon': true,'iconName': 'filter'}).button--transparent.button--only-icon--small.button--filter-icon
				.control-bar__actions
					+button({'hideTitle': true,'showIcon': true,'iconName': 'list-unordered'}).button--transparent.button--only-icon--small
					+button({'hideTitle': true,'showIcon': true,'iconName': 'Grid'}).button--transparent.button--only-icon--small.button--disabled
					.dropdown--only
						a#dropdownSort.btn.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Most Relevant
						.dropdown-menu.dropdown-menu--right.show(aria-labelledby='dropdownSort')
							a.dropdown-item(href='#') Most Relevant very long text
							a.dropdown-item(href='#') Popularity
							a.dropdown-item(href='#') A-Z

		.page-content.container.page-content--with-sidebar
			.sidebar-layout.sidebar-search
				.sidebar-layout__main-container.sidebar-layout__search-filters
					+filter-search()

			.container--with-sidebar.container--with-sidebar--left
				+block--search-no-results()
				+block--search-no-results--connection()

		+new-footer()