include includes/head.pug
body
	.page.page--light-gray.section.section--partial-background.section--partial-background--left-top.section--partial-background--small(style={'background-image': 'url("images/Polygon 6.png")'})
		.page-content.page-content--no-min-height

		.page-content.container
				.block
					.terms-container
						img.logo(src="./images/logo-onecampus-full.svg", alt="")
						h3.text-center.mb-5 Portal del estudiante de One Campus
						h5.text-center Términos y condiciones generales del sitio
						p PORFAVOR LEER CUIDADOSAMENTE LOS SIGUIENTES TÉRMINOS Y CONDICIONES. SI USTED NO ACEPTA CUMPLIR CON LOS SIGUIENTES TÉRMINOS Y CONDICIONES, NO PODRÁ ACCEDER AL PORTAL DEL ESTUDIANTE DE ONE CAMPUS Y LOS OTROS SITIOS DE LAUREATE A LOS QUE ENLAZA (COLECTIVAMENTE EL "sitio web”). EL SITIO ES UN SITIO WEB DE LAUREATE EDUCATION, INC. EL ACCESO ESTÁ RESTRINGIDO SOLAMENTE A LOS ESTUDIANTES DE LAS INSTITUCIONES DE LA RED LAUREATE.
						p Este sitio web se ha establecido y mantenido por Laureate Education, Inc. en nombre de sí mismo y sus afiliados (juntos, "Laureate"). Acceso a este sitio esta a su disposición por Laureate. La distribución del material en este sitio puede ser restringido por leyes y regulaciones del país desde el que accede a este sitio. Donde existen tales restricciones, esta información no está destinada para distribución, o uso por, cualquier persona o entidad en tal jurisdicción en incumplimiento de las leyes y regulaciones, y las personas accediendo a estas páginas están requeridas que deben informarse sobre y observar dichas restricciones.
						p Se concede el acceso a este sitio web a usted solamente para sus propósitos personales y educativos. Ningún otr uso de este sitio web, incluido el uso comercial es permitido.
						p Si usted accede a este sitio web pero no ha recibido los privilegios de acceso oficial por Laureate, por favorcierre la sesión inmediatamente. Si se le ha concedido acceso, no comparta su información de acceso con otros. Al acceder o utilizar este sitio web u otros sitios Web de Laureate, se considera representado y acordado que dicho acceso es proporcionado a usted como un privilegio revocable en la condición de su aceptación a los términos y condiciones de acceso a este sitio web establecidos en este acuerdo, incluyendo todos los términos y condiciones que pueden ser indicadas en las páginas individuales del sitio, que se han incorporado a este acuerdo como referencia. Laureate reserva el derecho de suspender la transmisión, o cancelar el acceso a este sitio web en cualquier momento, en todo o en parte, en su entera discreción y sin previo aviso. Los siguientes términos y condiciones pueden ser actualizados de vez en cuando a discreción de Laureate.
						h4 
							b Descargo de responsabilidad/ Garantías/ Limitación de responsabilidad
						p Durante el uso de este sitio web usted tendrá acceso a materiales, documentos, imágenes, gráficos, logos, diseño, audio, video, texto y cualquier otra información proporcionada a través de nuestros sitios web (colectivamente, "contenido"). Laureate no hace ninguna representación en cuanto a la exactitud o la totalidad de los contenidos proporcionados. El contenido que encontrará en este sitio web se proporciona "tal cual" sin garantía de ningún tipo, expresa o implícita, incluyendo, sin limitación, de cualquier garantía de información, servicios o productos proporcionados a través o en conexión con este sitio web y cualquier garantía implícita y condiciones, ya sea legal, derivados del curso de que trata o no, de comerciabilidad, calidad, aptos para un propósito en particular, expectativa de privacidad, exactitud, totalidad, desempeño, vigencia o aunsencia de incumplimiento.
						p Por sólo proporcionar acceso a nuestro contenido del sitio web, Laureate no garantiza ni representa que elcontenido este exacto o completo; el contenido esta actualizado o vigente; Laureate tiene el deber de actualizar cualquier contenido; o que el contenido esté libre de inexactitudes técnicas o errores tipográficos.
						p Algunas jurisdicciones no permiten la exclusión de garantías implícitas, asi que la exclusión anterior puede noaplicarse a usted. Este descargo de responsabilidad se aplica a cualquier daño o perjuicio causados por cualquierfalla de rendimiento, error, omisión, interrupción, eliminación, defecto, demora en la operación o transmisión,virus informático, fallo en la línea de comunicación, robo o destrucción o acceso no autorizado a, alteración de, ouso de registro, ya sea por incumplimiento de contrato, conducta desconfiada, negligencia, o bajo cualquier otracausa de acción. Usted específicamente reconoce que Laureate no es responsable de cualquier material difamatorio, ofensivo, infractor o ilegal o conducta o contenidos de terceros en este sitio web, y Laureate se reserva el derecho a retirar dichos materiales de este sitio web sin responsabilidad.
						p LAUREATE RENUNCIA A TODA RESPONSABILIDAD POR CUALQUIER PÉRDIDA O RECLAMO DE CUALQUIER TIPO RESULTADO, QUE SURJA DE O CUALQUIER MANERA RELACIONADA CON (A) ERRORES DE U OMISIONES DE CONTENIDO, INCLUYENDO INEXACTITUD TÉCNICAS Y ERRORES TIPOGRÁFICOS, (B) CUALQUIER SITIO WEB O CONTENIDO DE TERCEROS QUE DIRECTA O INDIRECTAMENTE HAYAN ACCEDIDO A TRAVÉS DE ENLACES RÁPIDOS EN CUALQUIER PARTE DEL CONTENIDO, (C) LA FALTA DE DISPONIBILIDAD DEL SITIO WEB, (D) CUALQUIER USO DEL SITIO WEB O CUALQUIER CONTENIDO QUE EN ÉL FIGURAN , (E) CUALQUIER USO DE CUALQUIER EQUIPO O PROGRAMA EN RELACIÓN CON ESTE SITIO WEB O SU CONTENIDO O (F) CUALQUIER DEPENDENCIA EN LA INFORMACIÓN CONTENIDA EN EL SITIO WEB, AUN ADVERTIDO DE LA POSIBILIDAD DE TALES DAÑOS.
						p EN NINGÚN CASO LAUREATE O SUS OFICIALES, DIRECTORES, EMPLEADOS, ACCIONISTAS, AGENTES O REPRESENTANTES SERÁN RESPONSABLES ANTE USTED O CUALQUIER OTRA PERSONA POR DAÑOS ESPECIALES, INDIRECTOS, INCIDENTALES, EJEMPLARES O CONSECUENCIALES O PÉRDIDA DE LA BUENA VOLUNTAD DE CUALQUIER MANERA QUE SURJA DE O RELACIONADOS CON ESTE CONVENIO ORESULTADO DEL USO DE O INCAPACIDAD PARA USAR EL SITIO WEB O EL FUNCIONAMIENTO O INCUMPLIMIENTO DE LAS OBLIGACIONES BAJO ESTOS TÉRMINOS , INCLUYENDO LA FALTA DE PROPÓSITO ESENCIAL, INCLUSO SI LAUREATE HA SIDO NOTIFICADO DE LA POSIBILIDAD DE LA PROBABILIDAD DE TALES DAÑOS QUE SE PRODUCEN. ALGUNOS ESTADOS NO PERMITEN LA LIMITACIÓN O EXCLUSIÓN DE GARANTÍAS IMPLÍCITAS O RESPONSABILIDAD POR DAÑOS INCIDENTALES O CONSECUENTES, POR SI LAS LIMITACIONES O EXCLUSIONES NO SE APLIQUEN A USTED. EN NINGÚN CASO PUEDE TRAER CUALQUIER RECLAMO O CAUSA DE ACCIÓN EN CONTRA DE LAUREATE POR MÁS DE UN (1) AÑO DESPUÉS QUE DICHO RECLAMO O CAUSA DE ACCIÓN HAYA SURJIDO. NO PUEDE DAR ACCESO A ESTE SITIO WEB A NINGUNA PERSONA NO AUTORIZADA PARA ACCEDER A ESTE SITIO WEB.
						p Enlaces del sitio web - Laureate no es responsable por el contenido de cualquier enlace de sitios de terceros que no es propiedad o controlado por Laureate, o de cualquier otro enlace contenidos en dichos sitios de terceros. Laureate le proporciona enlaces solo para su conveniencia y la inclusion de cualquier enlace a un sitio que no es propiedad de Laureate dicho sitio o su contenido no es avalado por Laureate. Laureate no asume ninguna responsabilidad por sitios de otras partes que estan enlazados a este sitio web o que en cualquier parte de este sitio web han sido enlazados.
						p Ningún permiso se otorga para que usted use los iconos de Laureate, dirección del sitio u otros medios que enlazan
							| a otros sitios web en cualquier página en este sitio web. Usted debe obtener permiso previo por escrito del enlace
							| en cualquier forma de este sitio Web.
						h4
							b Cargas/ Entregas
						p
							| Todo el contenido que suba a esta página web (entregas) estará disponible para aquellos a quienes Laureate ha
							| otorgado privilegios de acceso a la clase por estándar de políticas y procedimientos. Usted declara y garantiza que
							| tiene derecho a subir dicha entrega y que esté disponible para aquellos que se han concedido privilegios de acceso.
							| Al subir una entrega a la página web usted otorga a Laureate una licencia limitada para revisar la entrega para los
							| propósitos de comentar, criticar y evaluar; para distribuir la entrega a otros estudiantes para fines educativos;
							| para realizar la entrega en una aplicación anti plagio, base de datos o servicio de Laureate de su elección; para
							| realizar y conservar copias de la entrega; para computarizar la calificación de la entrega; y archivar la entrega en
							| un lugar accessible de colección pública. Usted acepta defender, indemnizar y eximir de toda responsabilidad a
							| Laureate de y en contra de cualquier reclamo, pleito o procedimiento, demandas, pérdidas, daños, obligaciones y
							| costos y gastos (incluyendo, sin limitación, honorarios razonables de abogados) derivados de o resultantes de la
							| infracción real o presunta de cualquier patente, marca registrada, derechos de autor, secreto comercial o cualquier
							| otro derecho de propiedad intelectual en relación con cualquier entrega.
						p
							| Laureate no requerirá tratar cualquier entrega como confidencial y no será responsable por cualquier idea de
							| negocio.
						p
							| Si cualquier contenido subido por usted, en cualquier formato, es considerado por Laureate, a su entera discreción,
							| a ser inapropiado por cualquier razón, Laureate se reserva el derecho a eliminar dicho material desde el sitio web.
							| Laureate no es responsable por cualquier envío inapropiado.
						h4
							b Política de privacidad
						p
							a(href='https://www.laureate.net/Legal/LegalInformation/es-LA') Aquí
							|  puede encontrar la política de privacidad
							|     de Laureate. Laureate respeta y entiende la importancia de la privacidad y seguridad de sus usuarios en línea.
							|     Cualquier información recopilada se utiliza sólo por Laureate y sus afiliados para contactar los consumidores para
							|     fines de mercadeo y operacionales. Las personas que suministran sus números de teléfono o direcciones de correo
							|     electrónico en línea pueden recibir por teléfono o correo electrónico información sobre promociones, nuevos
							|     productos y servicios o próximos eventos. Laureate y sus afiliados no van a publicar, vender, alquilar ni
							|     comercializar esta información personal a ningún tercero.
						h4
							b Propiedad intelectual
						p
							| Los materiales presentados en este sitio constituyen medios de comunicación en varios formatos incluyendo pero no
							| limitado a, gráficos, descargas de audio y video y texto (colectivamente, "los medios de comunicación"). Elementos
							| de los medios de comunicación se pueden presentar con una lista de las restricciones sobre el uso y estas
							| restricciones pueden variar de un medio a otro. Usted acepta cumplir con cualquier restricción que acompañan a cada
							| producto de medio de comunicación. Usted también se compromete a indemnizar y mantener a Laureate y respectivos
							| funcionarios, directores, empleados, agentes, sucesores y cesionarios, libres de cualquier responsabilidad de y
							| contra cualquier y todo reclamo, plieto o procedimientos, demandas, pérdidas, daños, obligaciones y costos y gastos
							| (incluyendo, sin limitación, honorarios razonables de abogados) derivados de o resultantes de la real o supuesto uso
							| indebido o violación de cualquier patente, marca registrada, derechos de autor, secretos comerciales u otro derecho
							| de propiedad intelectual en relación con cualquier producto de medio de comunicación. Usted acepta en defender
							| cualquier parte indemnizada, a petición de Laureate, contra cualquier reclamo, demanda o pleito.
						h4
							b Marca registrada
						p
							| "Laureate", "Laureate Education, Inc.", y "Laureate International Universities" son marcas comerciales registradas
							| y marcas de servicio de Laureate Education, Inc. o sus afiliados. Excepto en la medida permitida por la ley
							| aplicable en ausencia de ninguna licencia expresa u otra con concesión de derechos, usted no esta autorizado a
							| utilizar cualquier nombre comercial, marca, marca de servicio, logo o símbolo comercial o cualquier otro derecho de
							| propiedad de Laureate en cualquier forma (incluyendo sin limitación, referencia a la otra parte como un cliente,
							| consumidor o proveedor en cualquier comunicado de prensa, anuncio u otro material promocional) inconsistente con los
							| propósitos de negocio de Laureate. Cualquier uso de las marcas comerciales resgistradas y marcas de servicio de
							| Laureate requie...


						
					.footer-terms
						.checkbox-default
							.custom-control.custom-checkbox
								input.custom-control-input#customCheck(type="checkbox",name="example1")
								label.custom-control-label(for="customCheck") He leído y estoy de acuerdo con los términos y condiciones presentadas anteriormente
						.button-group.mt-3
							+button({'buttonTitle': 'Aceptar'}).button--primary
							+button({'buttonTitle': 'Volver'}).button--ghost-primary.button--transparent
							