include includes/head.pug
body
	+new-menu()
	.page
		.page-content.container
			.container--main
				.row
					button.button.button--primary--of
						span.button__title Mi botón primario
					button.button.button--ghost-primary--of
						span.button__title My primary ghost button

				
		+new-footer()

