include includes/head.pug
body
	+new-menu()
	.page
		.page-content.container
			+card
			+card--v2
			+card--v3
			+card--v4
			+card--video
			+card--featured
			+card--panel
			+card--panel-score
			+card--panel-start
		
			+card--panel-complete
		
			+card--small
		
			+card--small-bg
		
			+card--large-bg
		
			+card--basic-horizontal
		
			+card--search-learning-series
		
			+card--search-learning-series-in-progress
		
			+card--video-with-actions
		
			+card--video-with-actions--horizontal
		
			+card--with-actions--horizontal
		
			+card--profile



			
	+new-footer()