/* Global Styles for Buttons
**********************/

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 150px;
  width: auto;
  max-width: none;
  height: auto;
  padding: 0.5rem;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  line-height: 22px;
  cursor: pointer;
  color: var(--darkest-color);
  background-color: var(--lightest-color);
  border: 1px solid var(--darkest-color);
  border-radius: 8px;
  font-weight: 400;
  @include font-size(14px);
  transition: all 0.25s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--fourth-color);
  }
  .icon {
    width: 16px;
    height: 16px;
    margin: 4px;
    vertical-align: text-bottom;
    font-size: 1.2rem;
    fill: var(--darkest-color);
  }
  &.button--ghost {
    color: var(--darkest-color);
    background-color: var(--lightest-color);
    border: 1px solid var(--darkest-color);
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  &.button--ghost-primary{
    color: var(--primary-color);
    background-color: var(--lightest-color);
    border: 1px solid var(--primary-color);
    &:hover,
    &:focus {
      text-decoration: none;
    }
    .icon {
      fill: var(--primary-color);
    }
  }
  &.button--ghost-white{
    color: var(--lightest-color);
    background-color: transparent;
    border: 1px solid var(--lightest-color);
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: var(--lightest-color);
      color: var(--darkest-color);
    }
  }
}

/* Buttons Variations
**********************/
.button--primary {
  background-color: var(--primary-color);
  color: var(--lightest-color);
  border-color: var(--primary-color);
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($primary-color, 5%);
  }
  .icon {
    fill: var(--lightest-color);
  }
  &.button--ghost {
    color: var(--primary-color);
    background-color: var(--lightest-color);
    border: 1px solid var(--primary-color);
    &:hover,
    &:focus {
      text-decoration: none;
    }
    .icon {
      fill: var(--primary-color);
    }
  }
}

.button--secondary {
  background-color: var(--secondary-color);
  color: var(--lightest-color);
  border-color: var(--secondary-color);
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($secondary-color, 5%);
  }
  .icon {
    fill: var(--lightest-color);
  }
  &.button--ghost {
    color: var(--secondary-color);
    background-color: var(--lightest-color);
    border: 1px solid var(--secondary-color);
    &:hover,
    &:focus {
      text-decoration: none;
    }
    .icon {
      fill: var(--secondary-color);
    }
  }
}

.button--third {
  background-color: var(--darkest-color);
  color: var(--lightest-color);
  border-color: var(--darkest-color);
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($darkest-color, 5%);
  }
  .icon {
    fill: var(--lightest-color);
  }
  &.button--ghost {
    color: var(--darkest-color);
    background-color: var(--lightest-color);
    border: 1px solid var(--darkest-color);
    &:hover,
    &:focus {
      text-decoration: none;
    }
    .icon {
      fill: var(--darkest-color);
    }
  }
}

.button--rounded {
  border-radius: 50%;
}

.button--square {
  border-radius: 0px;
}

.button--fullwidth {
  margin: 0;
  min-width: 100%;
}

.button--normal-case {
  text-transform: none;
}

/* Only icon Buttons
**********************/

.button--icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.button--icon .icon {
  font-size: 3rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color-06);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.default:checked + .slider {
  background-color: var(--accent-color-06);
}
input.private:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

