/* Global Styles for Buttons
**********************/

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 150px;
  width: auto;
  max-width: none;
  height: auto;
  padding: 0.5rem;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  line-height: 22px;
  cursor: pointer;
  color: $darkest-color;
  background-color: $lightest-color;
  border: 1px solid $darkest-color;
  border-radius: 8px;
  font-weight: 400;
  @include font-size(14px);
  transition: all 0.25s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $fourth-color;
  }
  .icon {
    width: 16px;
    height: 16px;
    margin: 4px;
    vertical-align: text-bottom;
    font-size: 1.2rem;
    fill: $darkest-color;
  }
  &.button--ghost {
    color: $darkest-color;
    background-color: $lightest-color;
    border: 1px solid $darkest-color;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  &.button--ghost-primary{
    color: $primary-color;
    background-color: $lightest-color;
    border: 1px solid $primary-color;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $lightest-color;
    }
    .icon {
      fill: $primary-color;
    }
  }
  &.button--ghost-white{
    color: $lightest-color;
    background-color: transparent;
    border: 1px solid $lightest-color;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $lightest-color;
      color: $darkest-color;
    }
  }
  &.button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Buttons Variations
**********************/
.button--primary {
  background-color: $primary-color;
  color: $lightest-color;
  border-color: $primary-color;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($primary-color, 5%);
  }
  .icon {
    fill: $lightest-color;
  }
  &.button--ghost {
    color: $primary-color;
    background-color: $lightest-color;
    border: 1px solid $primary-color;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $lightest-color;
    }
    .icon {
      fill: $primary-color;
    }
  }
}

.button--secondary {
  background-color: $secondary-color;
  color: $lightest-color;
  border-color: $secondary-color;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($secondary-color, 5%);
  }
  .icon {
    fill: $lightest-color;
  }
  &.button--ghost {
    color: $secondary-color;
    background-color: $lightest-color;
    border: 1px solid $secondary-color;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    .icon {
      fill: $secondary-color;
    }
  }
  
}

.button--third {
  background-color: $darkest-color;

  color: $lightest-color;
  border-color: $darkest-color;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($darkest-color, 5%);
  }
  .icon {
    fill: $lightest-color;
  }
  &.button--ghost {
    color: $darkest-color;
    background-color: $lightest-color;
    border: 1px solid $darkest-color;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    .icon {
      fill: $darkest-color;
    }
  }
}

.button--ghost-white-small {
  background-color: transparent;
  padding: 7px 10px;
  color: $lightest-color;
  border-color: $lightest-color;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($lightest-color, 5%);
    color: $darkest-color;
  }
 
  &.button--ghost {
    color: $darkest-color;
    background-color: $lightest-color;
    border: 1px solid $darkest-color;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    .icon {
      fill: $darkest-color;
    }
  }
}

.button.button--transparent {
  @extend .button--ghost;
  border-color: transparent;
  background: transparent;
}

.button--rounded {
  border-radius: 50%;
}

.button--square {
  border-radius: 0px;
}

.button--fullwidth {
  margin: 0;
  min-width: 100%;
}

.button--normal-case {
  text-transform: none;
}

/* Only icon Buttons
**********************/

.button--icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.button--only-icon--small {
  min-width: 32px;
  width: 32px;
  max-width: 32px;
  height: 32px;
  padding: 0;
}

.button--only-icon--xsmall {
  min-width: 24px;
  width: 24px;
  max-width: 24px;
  height: 24px;
  padding: 0;
}

.button--icon .icon {
  font-size: 3rem;
}

.button--icon-left {
  .button__icon {
    order: 1;
    margin-right: 8px;
  }
  .button__title {
    order: 2;
  }
}


.button.button--back {
  @extend .button--ghost-primary;
  min-width: 100px;
  max-width: 120px;
  text-align: left;
  justify-content: flex-start;
  padding-left: 0px;
  flex: 0 1 auto;
  font-size: 12px;
  background-color: transparent;
  border-color: transparent;

  .icon {
    width: 12px;
    height: 12px;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $accent-color-06;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $lightest-color;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.default:checked + .slider {
  background-color: $accent-color-06;
}
input.private:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button--lightest {
  background-color: transparent;
  color: $lightest-color;
  border-color: $lightest-color;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($primary-color, 5%);
  }
  .icon {
    fill: $lightest-color;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .button {
    flex: 1 1 auto;
    margin-right: 8px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &.button-group--float {
    position: absolute;
    margin: 0px;

    &.button-group--float-right {
      top: 0px;
      right: 0px;
    }
  }
}

