


.checkbox {
  min-width: 40px;
  display: flex;
  .checkbox-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .checkbox__list-item {
      margin-right: 10px;
      .checkbox__button {
        color: var(--darkest-color);
        border: 1px solid;
        border-radius: 12px;
        background: 0 0;
        font-family: canada-type-gibson,Helvetica,Arial,sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        height: 25px;
        box-sizing: border-box;
        padding: 0 10px;
        &[aria-pressed=true] {
          border-color: var(--secondary-color);
          background: var(--secondary-color);
          color: $lightest-color;
        }
        .checkbox__text{
          display: inline;
        }
      }
    }
  }
}

.checkbox-container--with-icon-left {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .checkbox-container__icon,
  .checkbox-container__icon svg {
    width: 20px;
    height: 20px;
    fill: var(--darkest-color);
  }



  &.checkbox--light {

    .checkbox-container__icon,
    .checkbox-container__icon svg {
      fill: var(--lightest-color);
    }
    
    .checkbox {
      .checkbox__button {
        color: var(--lightest-color);
        &[aria-pressed=true] {
          border-color: var(--lightest-color);
          background: var(--lightest-color);
          color: var(--darkest-color);
        }
        .checkbox__text{
          display: inline;
        }
      }
    }
  }
}

