.checkbox {
  min-width: 40px;
  display: flex;

  .checkbox-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .checkbox__list-item {
      margin-right: 10px;

      .checkbox__button {
        color: var(--darkest-color);
        border: 1px solid;
        border-radius: 12px;
        background: 0 0;
        font-family: canada-type-gibson, Helvetica, Arial, sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        height: 25px;
        box-sizing: border-box;
        padding: 0 10px;

        &[aria-pressed=true] {
          border-color: var(--secondary-color);
          background: var(--secondary-color);
          color: $lightest-color;
        }

        .checkbox__text {
          display: inline;
        }
      }
    }
  }
}

.checkbox-container--with-icon-left {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .checkbox-container__icon,
  .checkbox-container__icon svg {
    width: 20px;
    height: 20px;
    fill: var(--darkest-color);
  }



  &.checkbox--light {

    .checkbox-container__icon,
    .checkbox-container__icon svg {
      fill: var(--lightest-color);
    }

    .checkbox {
      .checkbox__button {
        color: var(--lightest-color);

        &[aria-pressed=true] {
          border-color: var(--lightest-color);
          background: var(--lightest-color);
          color: var(--darkest-color);
        }

        .checkbox__text {
          display: inline;
        }
      }
    }
  }
}

// Checkbox-search Global Styles
.checkbox-default{
  .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    font-family: var(--primary-font);
    color: $darkest-color;
  
    .custom-control-input {
      position: absolute;
      left: 0;
      z-index: -1;
      width: 1rem;
      height: 1.25rem;
      opacity: 0;
      &:checked~.custom-control-label {
        &::after {
          background-image: url("../images/f-check.png");
          width: 23px;
        }
      }
      &:checked~.custom-control-label::before {
        color: $lightest-color;
        border-color: 1px solid $primary-color;
        background-color: $primary-color;
      }
    }
  
    .custom-control-label {
      position: relative;
      margin-bottom: 0;
      vertical-align: top;
      padding-left: 13px;
      padding-top: 3px;
  
      &::before {
        position: absolute;
        top: .18rem;
        left: -1.7rem;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        pointer-events: none;
        content: "";
        background-color: $lightest-color;
        border: $third-color solid 2px;
      }
  
      &::after {
        position: absolute;
        top: .28rem;
        left: -1.7rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background: no-repeat 50%/50% 50%;
      }
    }
  }
}


.custom-control-input:checked~.custom-control-label::before {
  color: $lightest-color;
  border-color: $primary-color;
  background-color: $primary-color;
}

.checkbox-container{
  display: flex;
  flex-direction: column;
 
}
.checkbox-custom--item{
  display: flex;
  flex-direction: row;
  border: 1px solid $primary-color;
  background-color:rgba(199, 161, 60, .2) ;
  padding: 10px;
  border-radius: 12px;
  align-items: center;
  max-width: 530px;
  margin: 0px auto 15px auto;
  .checkbox-custom{
    .checkbox-custom--input{
      position: absolute; // take it out of document flow
      opacity: 0;
      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 4px;
        border: 1px solid $primary-color;
        color: $primary-color;
      }
      &:hover + label:before {
        background: $primary-color;
      }
      &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }
      &:checked + label:before {
        background: $primary-color;
        width: 40px;
        height: 40px;
        border-radius: 4px;
      }
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }
      &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
      }
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: $primary-color;
        width: 0px;
        height: 0px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
    
  }
  .checkbox-custom--text{
    font-size: 14px;
    color: $darkest-color;
    font-weight: 400;
    margin-bottom: 0px;
    padding: 5px;
  }
  
}
