
/* Global Styles for Links
**************************/
.link{
  display: inline-block;
  margin-bottom: 5px;
  color: $link-color;
  text-decoration: none;
  font-family: $primary-font;
  font-weight: 400;
  @include font-size(14px);
  cursor: pointer;

  &.link--inline {
  	margin: 0px 8px;
  }

  &.link--dark {
  	color: $darkest-color;
  	font-weight: 600;
  }
  &.link--light {
  	color: $lightest-color;
  	font-weight: 400;
  }
  &.link--yellow {
  	color:$accent-color-09;
  	font-weight: 400;
  }
}
